{% extends "security/_layout.html" %}
{% from "security/_macros.html" import render_aligned_field, render_form_errors %}

{% block title %}Change Password{% endblock %}
{% block auth_heading %}Change Password{% endblock %}
{% block auth_subheading %}<p>Update your password to keep your account secure.</p>{% endblock %}

{% block content %}
  <form action="{{ url_for_security('change_password') }}" method="post" name="change_password_form" class="pure-form pure-form-aligned wc-auth-form">
    <fieldset>
      {{ change_password_form.hidden_tag() }}
      {{ render_form_errors(change_password_form) }}
      {{ render_aligned_field(change_password_form.password, label_text='Current password', input_class='pure-input-1', autocomplete='current-password') }}
      {{ render_aligned_field(change_password_form.new_password, label_text='New password', input_class='pure-input-1', autocomplete='new-password') }}
      {{ render_aligned_field(change_password_form.new_password_confirm, label_text='Confirm new password', input_class='pure-input-1', autocomplete='new-password') }}
      <div class="pure-controls">
        {{ change_password_form.submit(class_='pure-button pure-button-primary') }}
      </div>
    </fieldset>
  </form>
{% endblock %}
