{% set title = 'Signed out of WEPPcloud' %}
{% extends 'security/_layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% block auth_heading %}Signed Out{% endblock %}
{% block auth_subheading %}<p>You have signed out of WEPPcloud.</p>{% endblock %}

{% block content %}
  <p>Your session is cleared on this device. Close the browser if you are on a shared computer, or sign back in to continue working.</p>
{% endblock %}

{% block auth_footer %}
  <div class="wc-auth-footer">
    <a class="pure-button pure-button-primary" href="{{ auth_login_url }}">Return to sign in</a>
  </div>
{% endblock %}
