# Python
__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/
.venv/

# Testing
.coverage
.pytest_cache/

# MyPy
.mypy_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project specific
*.log
*.db
.amazonq/
.obsidian/

# Memory
context/