[general]
name=LakeTahoe-Fire
cellsize=30
locales=('us', 'laketahoe')

[topaz]
mcl=60
csa=5
zoom_min=11

[landuse]
enable_landuse_change=True
sbs_map = MODS_DIR/locations/lt/data/fire/Caldor_sbs_tr.tif
cover_defaults=MODS_DIR/locations/lt/data/lt_cover_defaults.csv

[soils]

[map]
center0 = [39.0597, -120.0119]
zoom0 = 9
boundary = static/mods/lt/lt_basin.json

[nodb]
mods = ['lt', 'baer', 'debris_flow']

[climate]
observed_clis_wc = MODS_DIR/locations/lt/data/tahoe/observed/Daily/y2k_fixed/
future_clis_wc = None
daymet_observed = daymet

#[phosphorus_opts]
#surf_runoff = 0.004
#lateral_flow = 0.005
#baseflow = 0.006
#sediment = 1400
#surf_runoff_map = MODS_DIR/locations/lt/data/phosphorus_202012/p_runoff.tif
#lateral_flow_map = MODS_DIR/locations/lt/data/phosphorus_202012/p_lateral.tif
#baseflow_map = MODS_DIR/locations/lt/data/phosphorus_202012/p_baseflow.tif
#sediment_map = MODS_DIR/locations/lt/data/phosphorus_202012/p_sediment.tif

#[baseflow_opts]
#bfcoeff = 0.04
#dscoeff = 0.0
#bfcoeff_map = MODS_DIR/locations/lt/data/groundwater_202012/bfcoeff.tif
#dscoeff_map = MODS_DIR/locations/lt/data/groundwater_202012/dscoeff.tif

[snow_opts]
rst=0
newsnw=100
ssd=250.0

[wepp]
bin=wepp_dbc4b57
snow=True
#channel_critical_shear = 35
#channel_critical_shear_map = MODS_DIR/locations/lt/data/phosphorus_202012/crit_sh.tif
