[general]
name=Portland
cellsize=30

[topaz]
mcl=60
csa=5
zoom_min=11

[landuse]
enable_landuse_change=False
sbs_map =
nlcd_db = portland/nlcd
cover_defaults=MODS_DIR/locations/portland/lt_cover_defaults.csv

[soils]
ssurgo_db = portland/soils

[map]
center0 = [45.481508, -122.025372]
zoom0 = 9
# relative to static
boundary =

[nodb]
mods = ['portland']

[climate]
observed_clis_wc = None
future_clis_wc = None
daymet_observed = daymet

[phosphorus_opts]
surf_runoff = None
lateral_flow = None
baseflow = None
sediment = None

[snow_opts]
rst=-2
newsnw=100
ssd=250.0