[general]
name = "seattle"
cellsize=30
locales=["us", "seattle"]

[topaz]
mcl=60
csa=5
zoom_min=11

[landuse]
enable_landuse_change=true
sbs_map  = "EXTENDED_MODS_DATA/wepppy-locations-seattle/simfire/sbs_pred_eagle_cedarriver_all.tif"
cover_defaults = "EXTENDED_MODS_DATA/wepppy-locations-seattle/lt_cover_defaults.csv"

[soils]


[map]
center0 = [47.3551, -121.6153]
zoom0 = 9
# relative to static
boundary  = "static/mods/seattle/seattle_boundary.json"

[nodb]
mods = ["seattle", "baer", "debris_flow"]

[climate]
observed_clis_wc = None
future_clis_wc = None

[phosphorus_opts]
surf_runoff = 0.003
lateral_flow = 0.004
baseflow = 0.005
sediment = 1000

[snow_opts]
rst=-2
newsnw=100
ssd=250.0

[wepp]
bin = "wepp_bd16b69"
snow=true
