[submodule "wepppy/nodb/mods/locations/portland"]
	path = wepppy/nodb/mods/locations/portland
	url = https://github.com/rogerlew/wepppy-locations-portland.git
[submodule "wepppy/weppcloud/_migrations"]
	path = wepppy/weppcloud/_migrations
	url = https://github.com/rogerlew/wepppy-weppcloud-migrations.git
[submodule "wepppy/nodb/mods/locations/seattle"]
	path = wepppy/nodb/mods/locations/seattle
	url = https://github.com/rogerlew/wepppy-locations-seattle.git
[submodule "wepppy/weppcloud/wepp1_config"]
	path = wepppy/weppcloud/wepp1_config
	url = https://github.com/rogerlew/wepppy-weppcloud-wepp1-config
