*.db filter=lfs diff=lfs merge=lfs -text
*.mpk filter=lfs diff=lfs merge=lfs -text
wepppy/_scripts/Test_Watershed_15/wepp/output/chnwb.txt filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
wepppy/weppcloud/static/mods/lt/LTWS_RoadAnalysis/MapPackages/*.mpk filter=lfs diff=lfs merge=lfs -text
wepppy/weppcloud/templates/locations/caldor/*.html filter=lfs diff=lfs merge=lfs -text
wepppy/_scripts/Test_Watershed_15/wepp/output/*.txt filter=lfs diff=lfs merge=lfs -text
wepppy/soils/ssurgo/data/statsgo/*.db filter=lfs diff=lfs merge=lfs -text
wepppy/soils/ssurgo/data/surgo/*.db filter=lfs diff=lfs merge=lfs -text
