wepppy/validation/*
*.swp
*.pyc
*.zip
venv/*
devnotes.txt
.idea/workspace.xml
wepppy/weppcloud/app_config.py
wepppy/au/soils/asris_2001/cache/*
.DS_Store
.idea/*
wepppy/taudem/tests/*/*
.ipynb_checkpoints/
.ipynb_checkpoints/*
.env
wepppy/locales/global/soils/isric/test
wepppy/climates/cligen/_scripts/*.db
wepppy/climates/daymet/test/*
wepppy/wepppy/weppcloud/static/js/controllers.js
_notes/*