[Unit]
Description=Run WEPPcloud Memory Watchdog every 10 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=10s
AccuracySec=1s

[Install]
WantedBy=timers.target
