<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WEPPcloud</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}
      </style>
  </head>
  <body>
  <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="../">WEPPcloud/Seattle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          </li>
          {% if user.is_anonymous %}
          <li><a class="nav-link" href="../login">Login</a></li>
          <li><a class="nav-link" href="../register">Register</a></li>
          {% else %}
          <li><a class="nav-link" href="../runs">My Runs</a></li>
          <li><a class="nav-link" href="../profile">Profile</a></li>
          <li><a class="nav-link" href="../logout">Logout</a></li>
          {% if current_user.has_role('Root') %}
          <li><a class="nav-link" href="../usermod">Usermod</a></li>
          {% endif %}
          {% endif %}
        </ul>
        <button class="btn btn-link" type="button" id="btnPuModal"
                data-toggle="modal" data-target="#puModal"
                title="up up down down left right left right b a">
            <img src="{{ url_for('static', filename='open-iconic/png/command-2x-wh.png') }}"/>
        </button>
        </div>
      </nav>
    </header>
    <div role="main" class="container">
    <div style="height: 60px;"></div>
    <div style="height: 2em;"></div>
        <h1>Seattle Municipal Watersheds</h1>
        <p>The Seattle Municipal Watersheds incorporates region specific soil, climates, and estimated soil burn severity.</p>
        <p>This work is sponsored by the Hazards SEES: Advancing Resilience to Compounding Disasters: An Integrated
        Natural-Human Systems Assessment of Wildfire Vulnerability Project (NSF Award #1520873)</p>
    <hr>
    <hr>
    <h2>Aggregated WEPP Results by Scenario</h2>
    <div style="margin-left: 1.5em;">
        <h3>Current conditions and managements</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_CurCond.202009.cl532.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_CurCond.202009.cl532.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle Current Conditions'>View Watershed Results</a>
        <div style="height: 1em;"></div>
        <h3>Current conditions with GRIDMET daily observed climates</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_CurCond.202009.cl532_gridmet.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_CurCond.202009.cl532_gridmet.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle Current Conditions GRIDMET'>View Current Conditions with GRIDMET Climate</a>
        <div style="height: 1em;"></div>
        <h3>Current conditions with Future climates</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_CurCond.202009.cl532_future.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_CurCond.202009.cl532_future.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle Current Conditions Future Climate'>View Current Conditions with Future Climate</a>
        <div style="height: 1em;"></div>
        <h3>Wildfire – Eagle</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_SimFire_Eagle.202009.cl532.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_SimFire_Eagle.202009.cl532.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle SimFire Eagle'>View SimFire Eagle</a>
        <div style="height: 1em;"></div>
        <h3>Wildfire – Norse</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_SimFire_Norse.202009.cl532.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_SimFire_Norse.202009.cl532.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle SimFire Norse'>View SimFire Norse</a>
     </div>
    <hr>
    <h2>Management-related aggregated WEPP results</h2>
    <div style="margin-left: 1.5em;">
        <h3>Uniform high severity</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_HighSevS.202009.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_HighSevS.202009.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle High Severity Fire'>View High Severity Fire</a>
        <div style="height: 1em;"></div>
        <h3>Uniform moderate severity</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_ModSevS.202009.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_ModSevS.202009.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle Moderate Severity Fire'>View Moderate Severity Fire</a>
        <div style="height: 1em;"></div>
        <h3>Uniform low severity</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_LowSevS.202009.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_LowSevS.202009.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle Low Severity Fire'>View Low Severity Fire</a>
        <div style="height: 1em;"></div>
        <h3>Uniform prescribed fire</h3>
        <a href='https://wepp1.nkn.uidaho.edu/weppcloud/combined_ws_viewer/?zoom=10&center=[47.326006562657355,-121.53076171875001]&ws=[{"runid": "seattle_k_Cedar_River_PrescFireS.202009.chn_cs200", "cfg": "seattle-snow"}, {"runid": "seattle_k_Taylor_Creek_PrescFireS.202009.chn_cs100", "cfg": "seattle-snow"}]&units=English&varopts={"runoff":0.5,"subrunoff":0.5,"baseflow":0.5,"phosphorus":0.1,"loss":4000}&varname=loss&title=Seattle Prescribed Fire'>Prescribed Fire</a>
        <div style="height: 1em;"></div>
    </div>
    <hr>
    <h2>Summarized All Conditions</h2>
    <div style="margin-left: 1.5em;">
        <h3>Tabled Results by Condition</h3>
        <a href="{{ url_for('static', filename='mods/seattle/results/seattle202009_out_summary.csv') }}">Aggregated Outlet Summary Results (.csv)</a>
        <div style="height: 1em;"></div>
        <a href="{{ url_for('static', filename='mods/seattle/results/seattle202009_hill_summary.csv') }}">Aggregated Hillslopes Summary Results (.csv)</a>
        <div style="height: 1em;"></div>
        <a href="{{ url_for('static', filename='mods/seattle/results/seattle202009_chn_summary.csv') }}">Aggregated Channels Summary Results (.csv)</a>
        <div style="height: 1em;"></div>
        <a href="{{ url_for('static', filename='mods/seattle/results/seattle202009_sed_del_summary.csv') }}">Aggregated Sediment Delivery Summary Results (.csv)</a>
    </div>
    <div style="margin-left: 1.5em;">
        <h3>ESRI Shapefiles by Condition</h3>
        <a href="{{ url_for('static', filename='mods/seattle/results/seattle202009_shps.zip') }}">Aggregated Shapefiles of Results (.zip)</a>
    </div>
    <hr>
    <h2>Run WEPP</h2>
    <div style="margin-left: 1.5em;">
        <h3>Current conditions and managements</h3>
        <div style="margin-left: 1.5em;">
            <h4>Delineate new watershed</h4>
            <div><a href="../create/seattle-snow">Run WEPP</a></div>
            <div style="height: 1em;"></div>
        </div>
        <h3>Simfire - Eagle</h3>
        <div style="margin-left: 1.5em;">
            <h4>Delineate new watershed</h4>
            <div><a href="../create/seattle-simfire-eagle-snow">Run WEPP</a></div>
            <div style="height: 1em;"></div>
        </div>
        <h3>Simfire - Norse</h3>
        <div style="margin-left: 1.5em;">
            <h4>Delineate new watershed</h4>
            <div><a href="../create/seattle-simfire-norse-snow">Run WEPP</a></div>
            <div style="height: 1em;"></div>
        </div>
    </div>
    <div style="height: 10em;"></div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
     integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
     integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116992009-1"></script>
{% include("_analytics.htm") %}
    </div>
  </body>
</html>
