{
	auto_https off
}

http://:8080 {
    encode gzip

    handle_path /health* {
        respond "OK"
    }

    handle_path /weppcloud-microservices/status* {
        reverse_proxy status:9002
    }

    handle_path /weppcloud-microservices/preflight* {
        reverse_proxy preflight:9001
    }

    handle_path /webservices/elevationquery* {
        reverse_proxy elevationquery:8002
    }

    handle_path /webservices/metquery* {
        reverse_proxy metquery:8004
    }

    handle_path /webservices/wmesque2* {
        reverse_proxy wmesque2:8030
    }

    handle_path /webservices/wmesque* {
        reverse_proxy wmesque:8003
    }

    handle_path /query-engine* {
        reverse_proxy query-engine:8041
    }

    handle_path /weppcloud/static/* {
        root * /srv/weppcloud/static
        file_server
    }

    handle_path /browse* {
        reverse_proxy browse:9009
    }

    @browse_proxy path_regexp browse_proxy ^/weppcloud/runs/[^/]+/[^/]+/(?:browse(?:/.*)?|download(?:/.*)?|aria2c\.spec|gdalinfo/.*)$
    handle @browse_proxy {
        reverse_proxy browse:9009
    }

    handle /rq-dashboard* {
        reverse_proxy rq-dashboard:9181 {
            header_up X-Forwarded-Prefix /rq-dashboard
            header_up X-Forwarded-Proto {scheme}
            header_up Host {host}
        }
    }

    @root path /
    redir @root /weppcloud

    handle_path /weppcloud* {
        reverse_proxy weppcloud:8000 {
            header_up X-Forwarded-Prefix /weppcloud
            header_up X-Forwarded-Proto {scheme}
            header_up Host {host}
        }
    }
}
