<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="icon" type="image/svg+xml" href="/static/favicon/page.svg?v=20250908"/>
<title>{{ filename }} - {{ runid }}</title>
</head>
<body>
<pre style="font-size:xx-small;">
{{ contents }}
</pre>
</body>
</html>
