<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="icon" type="image/svg+xml" href="/static/favicon/open_folder.svg?v=20250908"/>
<title>{{ runid }} - {{ page_title|default('Not Found') }}</title>
<script>
function redirectToDiff() {
    const runId = document.getElementById('runIdInput').value;
    window.location.href = '?diff=' + encodeURIComponent(runId);
}
const runid = "{{ runid }}";
const config = "{{ config }}";
</script>
<style>
  input[type='text'] { font-family: monospace; }
  a { text-decoration: none; }
  .command-bar-container {
    display: none !important;
  }
</style>
</head>
<body>
{% include 'command-bar.htm' %}
<input type="text" value="{{ diff_runid|e }}" id="runIdInput" placeholder="runid">
<button onclick="redirectToDiff()">Compare project</button>
<pre>
{{ project_href|safe }}{{ breadcrumbs_html|safe }}{{ error_message|safe }}
</pre>
{% include 'browse/_path_input_script.htm' %}
</body>
</html>
