<h5>Baseflow Processing</h5>
<i>Baseflow is not implemented for single storm climates. <a href="https://github.com/rogerlew/wepppy/issues/312">#312</a></i>
<div class="form-group row" id="gwstorage_container">
    <div class="col-sm-4">
        <label for="gwstorage">Initial groundwater storage (mm): </label>
    </div>
    <div class="col-sm-4">
        <input id="gwstorage" name="gwstorage" class="form-control mr-sm-3" type="text"
         value="{{ wepp.baseflow_opts.gwstorage }}" aria-label="Initial groundwater storage">
    </div>
</div>

<div class="form-group row" id="bfcoeff_container">
    <div class="col-sm-4">
        <label for="bfcoeff">Baseflow coefficient (per day): </label>
    </div>
    <div class="col-sm-4">
        <input id="bfcoeff" name="bfcoeff" class="form-control mr-sm-3" type="text"
         value="{{ wepp.baseflow_opts.bfcoeff }}" aria-label="Baseflow coefficient">
    </div>
</div>

<div class="form-group row" id="dscoeff_container">
    <div class="col-sm-4">
        <label for="dscoeff">Deep seepage coefficient (per day): </label>
    </div>
    <div class="col-sm-4">
        <input id="dscoeff" name="dscoeff" class="form-control mr-sm-3" type="text"
         value="{{ wepp.baseflow_opts.dscoeff }}" aria-label="Deep seepage coefficient">
    </div>
</div>

<div class="form-group row" id="bfthreshold_container">
    <div class="col-sm-4">
        <label for="bfthreshold">Watershed groundwater baseflow threshold area (ha): </label>
    </div>
    <div class="col-sm-4">
        <input id="bfthreshold" name="bfthreshold" class="form-control mr-sm-3" type="text"
         value="{{ wepp.baseflow_opts.bfthreshold }}" aria-label="Watershed groundwater baseflow threshold area">
    </div>
</div>
