<h5>Soils</h5>

<h6><b>Clip Soils</b></h6>
<p>Deep soils may lead to excessive water being ended up stored in soils and limited runoff. </p>
<div class="form-group row">
    <div class="col-sm-5">
        <div style="margin-left:2em;">
            <input id="clip_soils"
                   name="clip_soils"
                   type="checkbox"
                   class="form-check-input disable-readonly"
               {% if soils.clip_soils %}checked{% endif %}>
        </div>
        <label for="checkbox_clip_soils" style="margin-left:3em;">Clip Soils</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-5">
        <label for="clip_soils_depth">Soils Clip Depth (mm)</label>
    </div>
    <div class="col-sm-3">
        <input id="clip_soils_depth"
        name="clip_soils_depth"
        class="form-control mr-sm-3 disable-readonly"
        type="text"
        value="{{ soils.clip_soils_depth | round | int }}"
               aria-label="Soils Clip Depth">
    </div>
</div>


<h6><b>Initial Soil Saturation</b></h6>

<div class="form-group row">
    <div class="col-sm-5">
        <label for="initial_sat">Initial Soil Saturation (fraction)</label>
    </div>
    <div class="col-sm-3">
        <input id="initial_sat"
        name="initial_sat"
        class="form-control mr-sm-3 disable-readonly"
        type="text"
        value="{{ soils.initial_sat }}"
               aria-label="Initial Soil Saturation">
    </div>
</div>
