<h6>Watershed</h5>

<h6><b>Clip Hillslopes</b></h5>
<p>WEPP can overpredict erosion with long hillslopes. 
   Clipping will restrict the length and maintain area by increasing the width of the hillslope.</p>
<div class="form-group row">
    <div class="col-sm-5">
        <div style="margin-left:2em;">
            <input id="clip_hillslopes"
                   name="clip_hillslopes"
                   type="checkbox"
                   class="form-check-input disable-readonly"
               {% if watershed.clip_hillslopes %}checked{% endif %}>
        </div>
        <label for="clip_hillslopes" style="margin-left:3em;">Clip Hillslopes</label>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-5">
        <label for="hillslope_clip_length">Hillslope Clip Length (m)</label>
    </div>
    <div class="col-sm-3">
        <input id="hillslope_clip_length"
        name="hillslope_clip_length"
        class="form-control mr-sm-3 disable-readonly"
        type="text"
        value="{{ watershed.clip_hillslope_length | round | int }}"
               aria-label="Hillslope Clip Length">
    </div>
</div>

