{% if "lt" in ron.mods %}
<h5>Phosphorus Processing</h5>
<p><i>Phosphorus coefficients determined by lt mod</i></p>
{% else %}
<h5>Pollutant Processing (Optional)</h5>
{%- endif -%}
<div class="form-group row" id="surf_runoff_container">
    <div class="col-sm-4">
        <label for="surf_runoff">Surface runoff concentration (mg/l): </label>
    </div>
    <div class="col-sm-4">
        <input id="surf_runoff" name="surf_runoff" class="form-control mr-sm-3" type="text"
        value="{% if isfloat(wepp.phosphorus_opts.surf_runoff) %}{{ "%.4f" | format(wepp.phosphorus_opts.surf_runoff) }}{% endif %}"
        placeholder="e.g. 0.004"
        aria-label="Surface runoff concentration">
    </div>
</div>
<div class="form-group row" id="lateral_flow_container">
    <div class="col-sm-4">
        <label for="lateral_flow">Subsurface lateral flow concentration (mg/l): </label>
    </div>
    <div class="col-sm-4">
        <input id="lateral_flow" name="lateral_flow" class="form-control mr-sm-3" type="text"
        value="{% if isfloat(wepp.phosphorus_opts.lateral_flow) %}{{ "%.4f" | format(wepp.phosphorus_opts.lateral_flow) }}{% endif %}"
        placeholder="e.g. 0.005"
        aria-label="Subsurface lateral flow concentration">
    </div>
</div>
<div class="form-group row" id="baseflow_container">
    <div class="col-sm-4">
        <label for="baseflow">Baseflow concentration (mg/l): </label>
    </div>
    <div class="col-sm-4">
        <input id="baseflow" name="baseflow" class="form-control mr-sm-3" type="text"
        value="{% if isfloat(wepp.phosphorus_opts.baseflow) %}{{ "%.4f" | format(wepp.phosphorus_opts.baseflow) }}{% endif %}"
        placeholder="e.g. 0.006"
        aria-label="Baseflow concentration">
    </div>
</div>
<div class="form-group row" id="sediment_container">
    <div class="col-sm-4">
        <label for="sediment">Sediment concentration (mg/kg): </label>
    </div>
    <div class="col-sm-4">
        <input id="sediment" name="sediment" class="form-control mr-sm-3" type="text"
        value="{% if isfloat(wepp.phosphorus_opts.sediment) %}{{ wepp.phosphorus_opts.sediment | round }}{% endif %}"
        placeholder="e.g. 800"
        aria-label="Sediment concentration">
    </div>
</div>
