<h5>Export Configuration</h5>
<p>Specify Export Products on Run Completion</p>
<div class="form-group row">
    <div class="col-sm-5">
        <div style="margin-left:2em;">
            <input id="prep_details_on_run_completion"
                   name="prep_details_on_run_completion"
                   type="checkbox"
                   class="form-check-input disable-readonly"
               {% if wepp.prep_details_on_run_completion %}checked{% endif %}>
        </div>
        <label for="prep_details_on_run_completion" style="margin-left:3em;">Prep Details</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-5">
        <div style="margin-left:2em;">
            <input id="arc_export_on_run_completion"
                   name="arc_export_on_run_completion"
                   type="checkbox"
                   class="form-check-input disable-readonly"
               {% if wepp.arc_export_on_run_completion %}checked{% endif %}>
        </div>
        <label for="arc_export_on_run_completion" style="margin-left:3em;">Geopackage Export (.gpkg)</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-5">
        <div style="margin-left:2em;">
            <input id="legacy_arc_export_on_run_completion"
                   name="legacy_arc_export_on_run_completion"
                   type="checkbox"
                   class="form-check-input disable-readonly"
               {% if wepp.legacy_arc_export_on_run_completion %}checked{% endif %}>
        </div>
        <label for="legacy_arc_export_on_run_completion" style="margin-left:3em;">Legacy ArcMap Export (.shp)</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-5">
        <div style="margin-left:2em;">
            <input id="dss_export_on_run_completion"
                   name="dss_export_on_run_completion"
                   type="checkbox"
                   class="form-check-input disable-readonly"
               {% if wepp.dss_export_on_run_completion %}checked{% endif %}>
        </div>
        <label for="dss_export_on_run_completion" style="margin-left:3em;">Partitioned TotalWatSed DSS Export (.dss)</label>
    </div>
</div>