<h5>Revegetation</h5>

<div class="form-group row" id="reveg_scenario_container">
    <div class="col-sm-4">
        <label for="reveg_scenario">Cover Transformation Scenario: </label>
    </div>
    <div class="col-sm-4">
        <select class="form-control disable-readonly" id="reveg_scenario" name="reveg_scenario" >
	        <option value=""
                {% if reveg.cover_transform_fn == "" %} selected{% endif %} >Observed</option>
	        <option value="20-yr_Recovery.csv" 
                {% if reveg.cover_transform_fn == "20-yr_Recovery.csv" %} selected{% endif %} >20-Year Recovery</option>
	        <option value="20-yr_PartialRecovery.csv" 
                {% if reveg.cover_transform_fn == "20-yr_PartialRecovery.csv" %} selected{% endif %} >20-Year Partial Recovery</option>
	        <option value="user_cover_transform" 
                {% if reveg.user_defined_cover_transform %} selected{% endif %} >User-Defined Transform</option>
        </select>
    </div>
</div>

<div id="user_defined_cover_transform_container">
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <label for="reveg_scenario">Upload Cover Transform File (.csv): </label>
        </div>
        <div class="col-sm-4">
            <input id="input_upload_cover_transform" name="input_upload_cover_transform" type="file" class="file"
                onchange="Wepp.getInstance().handleCoverTransformUpload(this)">
        </div>
    </div>
</div>

<!-- Place the script at the end of the template -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.getElementById('reveg_scenario');
        var userDefinedDiv = document.getElementById('user_defined_cover_transform_container');

        selectElement.addEventListener('change', function() {
            if (this.value === 'user_cover_transform') {
                userDefinedDiv.style.display = 'block';
            } else {
                userDefinedDiv.style.display = 'none';
            }
        });

        // Initially hide the div
        userDefinedDiv.style.display = 'none';
    });
</script>
