<h5>Snow</h5>
<p>Adjustments for snow.</p>
<div style="padding-left:3em;">
<label class="form-check-label">
    <input id="checkbox_wepp_snow" type="checkbox" class="form-check-input disable-readonly"
     onchange="Wepp.getInstance().set_run_wepp_routine('snow', this.checked);"
     {% if wepp.run_snow %}checked{% endif %}>
    Run Snow (snow.txt)
</label>
</div>

<div class="form-group row" id="snow_opts_rst_container">
    <div class="col-sm-4">
        <label for="snow_opts_rst">Rain Snow Threshold Temperature (C): </label>
    </div>
    <div class="col-sm-4">
        <input id="snow_opts_rst" name="snow_opts_rst" class="form-control mr-sm-3" type="text"
         value="{{ wepp.snow_opts.rst }}" aria-label="Rain Snow Threshold">
    </div>
</div>

<div class="form-group row" id="snow_opts_newsnw_container">
    <div class="col-sm-4">
        <label for="snow_opts_newsnw">Density of new snow (g/cm<sup>3</sup>): </label>
    </div>
    <div class="col-sm-4">
        <input id="snow_opts_newsnw" name="snow_opts_newsnw" class="form-control mr-sm-3" type="text"
         value="{{ wepp.snow_opts.newsnw }}" aria-label="Density of New Snow">
    </div>
</div>

<div class="form-group row" id="snow_opts_ssd_container">
    <div class="col-sm-4">
        <label for="snow_opts_ssd">Snow Settling Density (g/cm<sup>3</sup>): </label>
    </div>
    <div class="col-sm-4">
        <input id="snow_opts_ssd" name="snow_opts_ssd" class="form-control mr-sm-3" type="text"
         value="{{ wepp.snow_opts.ssd }}" aria-label="Snow Settling Density">
    </div>
</div>
