/* ----------------------------------------------------------------------------
 * Controllers (controllers.js)
 * NOTE: Generated via build_controllers_js.py from
 *       wepppy/weppcloud/controllers_js/templates/*.js
 * Build date: [[ build_date ]]
 * See developer notes: wepppy/weppcloud/routes/usersum/dev-notes/controllers_js.md
 * ----------------------------------------------------------------------------
 */
"use strict";
// globals for JSLint: $, L, polylabel, setTimeout, console
{% include 'utils.js'%}
{% include 'ws_client.js'%}
{% include 'control_base.js'%}
{% include 'project.js'%}
{% include 'map.js'%}
{% include 'disturbed.js'%}
{% include 'baer.js'%}
{% include 'channel_delineation.js'%}
{% include 'outlet.js'%}
{% include 'subcatchment_delineation.js'%}
{% include 'landuse.js'%}
{% include 'landuse_modify.js'%}
{% include 'soil.js'%}
{% include 'climate.js'%}
{% include 'wepp.js'%}
{% include 'debris_flow.js'%}
{% include 'observed.js'%}
{% include 'ash.js'%}
{% include 'rap_ts.js'%}
{% include 'rangeland_cover.js'%}
{% include 'rangeland_cover_modify.js'%}
{% include 'treatments.js'%}
{% include 'team.js'%}
{% include 'rhem.js'%}
{% include 'omni.js'%}
{% include 'dss_export.js'%}
{% include 'batch_runner.js'%}
