/* ----------------------------------------------------------------------------
 * Controllers ([[ bundle_name ]])
 * NOTE: Generated via build_controllers_js.py from
 *       wepppy/weppcloud/controllers_js/templates/*.js
 * Build date: [[ build_date ]]
 * See developer notes: wepppy/weppcloud/controllers_js/README.md
 * ----------------------------------------------------------------------------
 */
"use strict";
// globals for JSLint: $, L, polylabel, setTimeout, console
{% for module in modules %}
{% include module %}
{% endfor %}
