m
Yes
1
1
Yes
../output/H{wepp_id}.pass.dat
1
No
../output/H{wepp_id}.loss.dat
Yes
../output/H{wepp_id}.wat.dat
No
Yes
../output/H{wepp_id}.soil.dat
Yes
../output/H{wepp_id}.plot.dat
Yes
../output/H{wepp_id}.graph.dat
Yes
../output/H{wepp_id}.ebe.dat
Yes
../output/H{wepp_id}.element.dat
No
No
No
{man_relpath}p{wepp_id}.man
{slp_relpath}p{wepp_id}.slp
{cli_relpath}p{wepp_id}.cli
{sol_relpath}p{wepp_id}.sol
0
{sim_years}
0
