[Unit]
Description=Gunicorn for elevationquery
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/workdir
Environment="LD_LIBRARY_PATH=/workdir/miniconda3/envs/wepppy310-env/lib"
Environment="PATH=/workdir/miniconda3/envs/wepppy310-env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/workdir/miniconda3/envs/wepppy310-env/bin/gunicorn --workers 4 --bind 127.0.0.1:8002 wepppy.webservices.elevationquery:app
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
