[Unit]
Description=Gunicorn for weppcloud
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/workdir
Environment="LD_LIBRARY_PATH=/workdir/miniconda3/envs/wepppy310-env/lib"
Environment="PATH=/workdir/miniconda3/envs/wepppy310-env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="LD_PRELOAD=/workdir/miniconda3/envs/wepppy310-env/lib/libhdf5.so"
ExecStart=/workdir/miniconda3/envs/wepppy310-env/bin/gunicorn \
  --workers 28 \
  --threads 4 \
  --timeout 1800 \
  --graceful-timeout 60 \
  --keep-alive 5 \
  --bind 127.0.0.1:8001 \
  --log-level info \
  --error-logfile - --access-logfile - \
  wepppy.weppcloud.app:app
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
