<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WEPPcloud Job Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <style>
    .btn-link.collapsed .caret {
      transform: rotate(0deg);
    }

    .btn-link .caret {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }
    .card {
      --bs-card-border-width: 0 !important;
      --bs-card-border-color: transparent !important;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <h2 class="mb-1"><a href='{{ url_for("runs0", runid=runid, config=config) }}'>{{ runid }}</a> RQ Job Dashboard</h2>
    <dl>
    <dt>Job ID</dt>
    <dd>{{ job_id }}</dd>
    <dt>Run ID</dt>
    <dd id="run-id"></dd>
    <dt>Query Count</dt>
    <dd id="query-count"></dd>
    <dt>Query Interval (ms)</dt>
    <dd id="query-interval"></dd>
    </dl>  
    <div>
      <button class="btn btn-danger" onclick="confirmCancelJob()">Cancel Job</button>
    </div>
    <div id="job-dashboard"></div>
  </div>


  <script>
  const jobId = "{{ job_id }}";
  let runid;
  let queryCount = 0;
  let jobCount = 0;
  let allFinishedCount = 0;
  let allTotalCount = 0;
  let allElapsedTime_s = 0.0;
  let allSummary = ""
  let anyFailed = false;
  let paused = false;


  function fetchJobStatus() {
    $.ajax({
      url: `{{site_prefix}}/rq/jobinfo/${jobId}`,
      method: 'GET',
      success: function(data) {
        jobCount = 0;
        queryCount ++;

        $('#job-dashboard').html(renderJob(data));

        if (allFinishedCount == allTotalCount && allTotalCount > 0)
          return;

        if (anyFailed)
          return;

        if (paused)
          return;

        queryInterval = jobCount * 5;

        if (queryInterval < 1000) {
          queryInterval = 1000;
        }

        if (queryInterval > 5000) {
          queryInterval = 5000;
        }

        $('#query-count').text(`${queryCount}`);
        $('#query-interval').text(`${queryInterval}`);

        setTimeout(fetchJobStatus, queryInterval);
      },
      error: function(xhr, status, error) {
        let response = JSON.parse(xhr.responseText);
        if (response.StackTrace && response.StackTrace.some(line => line.includes('NoSuchJobError'))) {
          $('#job-dashboard').html('<div class="alert alert-danger">No such job found: ' + jobId + '</div>');
        } else {
          $('#job-dashboard').html('<div class="alert alert-danger">Error: ' + response.Error + '</div><pre>' + response.StackTrace.join('\n') + '</pre>');
        }
      }
    });
  }

  function renderJob(data) {
    const isExpanded = $("#collapseParent").hasClass("show");
    allFinishedCount = 0;
    allTotalCount = 1;
    allElapsedTime_s = 0.0;

    runid = data.runid;

    if (runid !== undefined) {
      $('#run-id').html(`<a href="{{site_prefix}}/runs/${runid}/cfg">${runid}</a>`,);
    }

    let jobs_html = renderJobs(data.children);
    
    if (data.status == 'finished') {
      allFinishedCount += 1;
    }

    let html = `<div class="card">
                  <div class="card-header">

                    <div class="row">
                      <div class="col-6 d-flex align-items-center">
                        <button class="btn btn-link p-0 m-0 text-decoration-none${isExpanded ? '' : ' collapsed'}"  data-bs-toggle="collapse" data-bs-target="#collapseParent" aria-expanded="true" aria-controls="collapseParent">
                          <i class="fas fa-caret-right caret ms-2"></i>
                          <span class="text-dark">${data.description} - ${data.status} (${data.elapsed_s !== null ? data.elapsed_s.toFixed(1) : 'N/A'} s)</span>
                        </button>
                      </div>
                      <div class="col-6">
                        <span class="text-muted">${allSummary}</span>
                      </div>
                    </div>
                    <div class="progress mt-2">
                      <div class="progress-bar" role="progressbar" style="width: ${Math.round((allFinishedCount / allTotalCount) * 100)}%;" aria-valuenow="${Math.round((allFinishedCount / allTotalCount) * 100)}" aria-valuemin="0" aria-valuemax="100">
                        ${Math.round((allFinishedCount / allTotalCount) * 100)}%
                      </div>
                    </div>`;

    if (data.status === 'failed') {
      html += `<div class="row">
                  <div class="col-md-12">
                    <div><pre>${data.exc_info}</pre></div>
                  </div>
                </div>`;
    }

    html += `<div id="collapseParent" class="collapse show" aria-labelledby="headingParent" data-parent="#accordion">
                    <div class="card-body">
                      ${jobs_html}
                    </div>
                  </div>
                </div>`;
    return html;
  }


  function renderJobs(jobs) {
    let html = '<div id="accordion">';

    for (let jobOrder in jobs) {
      if (jobs.hasOwnProperty(jobOrder)) {
        const isExpanded = $(`#collapse${jobOrder}`).hasClass('show');
        let finishedCount = 0;
        let totalCount = 0;
        let elapsed_s = 0.0;
        let allCompleted = true;

        jobs[jobOrder].forEach(job => {
          totalCount++;
          allTotalCount++;
          if (job.status === 'finished') {
            finishedCount++;
            allFinishedCount++;
          }

          if (job.elapsed_s > elapsed_s) {
            elapsed_s = job.elapsed_s;
          }

          if (job.status === 'started' || job.status === 'deferred') {
            allCompleted = false;
          }
        });

        let summary = `${finishedCount} of ${totalCount} jobs completed (${elapsed_s.toFixed(0)} s)`;
        let failed = false;
        if (jobs[jobOrder].some(job => job.status === 'failed')) {
          summary = `Job ${jobOrder} failed`;
          failed = true;
          anyFailed = true;
        }

        allElapsedTime_s += elapsed_s;
        allSummary = `Finished ${allFinishedCount} of ${allTotalCount} (${allElapsedTime_s.toFixed(0)} s)`;

        html += `<div class="card">
                   <div class="card-header" id="heading${jobOrder}">

                    <div class="row mb-0">
                      <div class="col-6 d-flex align-items-center">
                        <button class="btn btn-link p-0 m-0 text-decoration-none${isExpanded ? '' : ' collapsed'}" data-bs-toggle="collapse" data-bs-target="#collapse${jobOrder}" aria-expanded="${isExpanded}" aria-controls="collapse${jobOrder}">
                          <i class="fas fa-caret-right caret ms-2"></i>
                          <span class="text-dark">${jobOrder} - Job Order</span>
                        </button>
                      </div>
                      <div class="col-6">
                        <span class="text-muted">${summary}</span>
                      </div>
                    </div>
                    <div class="progress mt-2">
                      <div class="progress-bar${failed ? ' bg-danger' : ''}" role="progressbar" style="width: ${Math.round((finishedCount / totalCount) * 100)}%;" aria-valuenow="${Math.round((finishedCount / totalCount) * 100)}" aria-valuemin="0" aria-valuemax="100">
                        ${Math.round((finishedCount / totalCount) * 100)}%
                      </div>
                    </div>

                   <div id="collapse${jobOrder}" class="collapse${isExpanded ? ' show' : ''}" aria-labelledby="heading${jobOrder}" data-parent="#accordion">
                     <div class="card-body">
                       ${renderJobGroup(jobs[jobOrder])}
                     </div>
                   </div>
                 </div>`;
        jobCount += jobs[jobOrder].length;  // Accumulate job count
      }
    }
    html += '</div>';
    return html;
  }


  function renderJobGroup(jobGroup) {
    let html = '';
    jobGroup.forEach(job => {
      html += `<div class="row">
        <div class="col-md-6">${job.description}</div>
        <div class="col-md-3">${job.id}</div>
        <div class="col-md-1">${job.status}</div>
        <div class="col-md-1">${job.elapsed_s !== null ? job.elapsed_s.toFixed(1) : 'N/A'} s</div>
      </div>`;

      if (job.status === 'failed') {
        html += `<div class="row">
                   <div class="col-md-12">
                     <div><pre>${job.exc_info}</pre></div>
                   </div>
                 </div>`;
      }
      if (job.children) {
        html += renderJobs(job.children);
      } 
    });
    return html;
  }

  function confirmCancelJob() {
    if (confirm("Are you sure you want to cancel the job?")) {
        cancelJob();
    }
  }

  function cancelJob() {
    $.ajax({
      url: `{{site_prefix}}/rq/canceljob/${jobId}`,
      method: 'GET',
      success: function(data) {
        alert('Job cancelled');
      },
    });
  }

    $(document).ready(function() {
      $(document).on('shown.bs.collapse', function() {
        const collapseElements = document.querySelectorAll('.collapse');
        collapseElements.forEach(element => {
          const collapseInstance = new bootstrap.Collapse(element, {
            toggle: false
          });
        });
      });

      fetchJobStatus();
    });
  </script>
</body>
</html>

