    <div id="climate_mode4_controls">
        <h5>Single Storm (Cligen)</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_storm_date">Enter Month Day and Year of Storm (mo da yr): </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_storm_date"
                name="ss_storm_date" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_storm_date }}" placeholder="M D Y"
                aria-label="Storm Date">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_design_storm_amount_inches">Enter Design Storm Amount in Inches (e.g. 6.30) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_design_storm_amount_inches"
                name="ss_design_storm_amount_inches" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_design_storm_amount_inches }}" placeholder=""
                aria-label="Design Storm Amount in inches">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_duration_of_storm_in_hours">Enter Storm Duration in Hours (e.g. 6) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_duration_of_storm_in_hours"
                name="ss_duration_of_storm_in_hours" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_duration_of_storm_in_hours }}" placeholder=""
                aria-label="Duration of storm in hour">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_time_to_peak_intensity_pct">Enter Time to Peak Intensity (% Duration e.g. .4) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_time_to_peak_intensity_pct"
                name="ss_time_to_peak_intensity_pct" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_time_to_peak_intensity_pct }}" placeholder=""
                aria-label="Time to peak intensity %">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_max_intensity_inches_per_hour">Enter Maximum Intensity Inches/Hour (e.g. 3.0) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_max_intensity_inches_per_hour"
                name="ss_max_intensity_inches_per_hour" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_max_intensity_inches_per_hour }}" placeholder=""
                aria-label="Max intensity inches per hour">
            </div>
        </div>
    </div>
