<div id="climate_userdefined">
    <h4 data-toc-skip>User Defined</h4>
    <div class="form-group row hide-readonly">
        <div class="col-md-6">
            <input id="input_upload_cli" name="input_upload_cli" type="file" class="file">
        </div>
    </div>
    <div>
        <h5>Spatial Mode</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_spatialmode0" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 0] }}> Single Climate
                    <a data-toggle="tooltip" data-placement="top" title="One per watershed."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="1" class="disable-readonly" id="climate_spatialmode1" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 1] }}> Multiple Climates
                    <a data-toggle="tooltip" data-placement="top" title="One for each hillslope."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
            </div>
        </div>
    </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_upload_cli" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button"
             onclick="Climate.getInstance().upload_cli()">Upload .cli</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_upload_cli"></small>
        </div>
    </div>
</div>
