{% extends "controls/_base.htm" %}
{% block form_id %}ash_form{% endblock %}
{% block form_title %}Wildfire Ash Transport And Risk estimation tool (WATAR){% endblock %}
{% block inputs %}
    <p>
      The ash transport analysis is available for continuous climates (no single storm). 
      A climate with at least 100 years is recommended. The ash transport relies on WEPP outputs.
      Run WEPP before running this analysis.
    </p>
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="fire_date">Fire Date (month/day)</label>
        </div>
        <div class="col-sm-3">
            <input input id="fire_date" name="fire_date"
                   class="form-control mr-sm-3 disable-readonly" type="text" value="{{ ash.fire_date }}"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="ash_depth_mode"
            name="ash_depth_mode" {{ ('', 'checked')[ash.ash_depth_mode == 1] }}>
                Specify Depth</label>
        </div>
        <div class="col-sm-3">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="ash_depth_mode"
            name="ash_depth_mode" {{ ('', 'checked')[ash.ash_depth_mode == 0] }}>
                Specify Load</label>
        </div>
        <div class="col-sm-3">
            <label class="radio-inline">
            <input type="radio" value="2" class="disable-readonly" id="ash_depth_mode"
            name="ash_depth_mode" {{ ('', 'checked')[ash.ash_depth_mode == 0] }}>
                Upload Maps</label>
        </div>
    </div>

    <div id="ash_depth_mode1_controls">
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="ini_black_depth">Initial Ash Depth for high severity</label>
            </div>
            <div class="col-sm-3">
                <input input id="ini_black_depth" name="ini_black_depth"
                       class="form-control mr-sm-3 disable-readonly" type="text" value="{{ ash.ini_black_ash_depth_mm }}"/>
            </div>
            <div class="col-sm-1">mm</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="ini_white_depth">Initial Ash Depth for moderate and low severity</label>
            </div>
            <div class="col-sm-3">
                <input input id="ini_white_depth" name="ini_white_depth"
                       class="form-control mr-sm-3 disable-readonly" type="text" value="{{ ash.ini_white_ash_depth_mm }}"/>
            </div>
            <div class="col-sm-1">mm</div>
        </div>
    </div>

    <div id="ash_depth_mode0_controls">
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="ini_black_load">Initial Ash Load for high severity</label>
            </div>
            <div class="col-sm-3">
                <input input id="ini_black_load" name="ini_black_load"
                       class="form-control mr-sm-3 disable-readonly" type="text" value="{{ ash.ini_black_ash_load }}"/>
            </div>
            <div class="col-sm-1">kg/m<sup>2</sup></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="ini_white_load">Initial Ash Load for moderate and low severity</label>
            </div>
            <div class="col-sm-3">
                <input input id="ini_white_load" name="ini_white_load"
                       class="form-control mr-sm-3 disable-readonly" type="text" value="{{ ash.ini_white_ash_load }}"/>
            </div>
            <div class="col-sm-1">kg/m<sup>2</sup></div>
        </div>
    </div>


    <div id="ash_depth_mode2_controls">
      <h5>Load Map</h5>
      <p>Upload a raster load map (.img or .tif). The map should contain ash loads in tonne / ha.</p>
      <div class="form-group row hide-readonly">
        <div class="col-md-6">
          <input id="input_upload_ash_load" name="input_upload_ash_load" type="file" class="file">
        </div>
      </div>

      <h5>Bulk Density Map (Optional)</h5>
      <p>Upload a raster load map (.img or .tif). The map should contain ash bulk densities in g/m<sup>3</sup>.
         When provided it is used to classify the ash as black (&gt; 0.2515) or white (&lte; 0.2515).</p>
      <div class="form-group row hide-readonly">
        <div class="col-md-6">
          <input id="input_upload_ash_bd" name="input_upload_ash_bd" type="file" class="file">
        </div>
      </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-5">
            <label for="ini_black_bulkdensity">Default Initial Ash Bulk Density for low and moderate severity</label>
        </div>
        <div class="col-sm-3">
            <input input id="ini_black_bulkdensity" name="ini_black_bulkdensity"
                   class="form-control mr-sm-3" type="text" value="{{ ash.ini_black_ash_bulkdensity }}" readonly/>
        </div>
        <div class="col-sm-1">g/cm<sup>3</sup></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="ini_white_bulkdensity">Default Initial Ash Bulk Density for high severity</label>
        </div>
        <div class="col-sm-3">
            <input input id="ini_white_bulkdensity" name="ini_white_bulkdensity"
                   class="form-control mr-sm-3" type="text" value="{{ ash.ini_white_ash_bulkdensity }}" readonly/>
        </div>
        <div class="col-sm-1">g/cm<sup>3</sup></div>
    </div>
    
    <div><a href="#ash_advanced_opts_con" data-toggle="collapse">Advanced Options</a>
        <div id="ash_advanced_opts_con" style="padding-left: 2em;" class="collapse">
            <h5>Water Transport</h5>
            <label class="form-check-label">
                <input id="checkbox_run_wind_transport" type="checkbox" class="form-check-input disable-readonly"
                       onchange="Ash.getInstance().set_wind_transport(this.checked);"
                        {% if ash.run_wind_transport %}checked{% endif %}>
                 Run Water Transport
             </label>
        </div>
        <br/><br/>
    </div>

    <div class="form-group row hide-readonly">
      <div class="col-sm-4">
        <button class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
                type="button"
                onclick="Ash.getInstance().run_model();">Run Model</button>
      </div>

      <div class="col-sm-5">
        <small id="hint_run_wepp"></small>
      </div>
    </div>
{% endblock %}
