{% extends "controls/_base.htm" %}
{% block form_id %}sbs_upload_form{% endblock %}
{% block form_title %}Upload Soil Burn Severity Map {% if 'disturbed' in ron.mods %}(Optional){% endif %}{% endblock %}
{% block inputs %}
    <p>Upload a raster SBS map (.img or .tif). The map can be a 4 class SBS map or a 256 dNBR map.</p>
    <div class="form-group row hide-readonly">
        <div class="col-md-6">
            <input id="input_upload_sbs" name="input_upload_sbs" type="file" class="file">
        </div>
    </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_upload_sbs" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Upload SBS</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_upload_sbs"></small>
        </div>
    </div>
{% endblock %}