{% extends "controls/_base.htm" %}
{% block form_id %}build_channels_form{% endblock %}
{% block form_title %}Channel Delineation{% endblock %}
{% block inputs %}
    <input type="hidden" id="map_center" name="map_center" />
    <input type="hidden" id="map_zoom" name="map_zoom" />
    <input type="hidden" id="map_bounds" name="map_bounds" />
    <input type="hidden" id="map_distance" name="map_distance" />
    <div style="height:150px;" class="unitizer-wrapper">

        <div class="unitizer units-m">
            {% if watershed.delineation_backend_is_topaz %}
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="input_mcl">Minimum Channel Length (m)
                        <a data-toggle="tooltip" data-placement="top" title="The shortest length that any channel is allowed to be. A value of 60 m, means that at least two 30-m DEM pixel is needed to initiate the headwater channel. As a rule of thumb it should be 10x of the CSA. e.g. if the CSA is 10 ha the MCL should be 100 m."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                    </label>
                </div>
                <div class="col-sm-3">
                    <input id="input_mcl" name="mcl" class="form-control mr-sm-3 disable-readonly" type="text" value="{{ watershed.mcl | round | int }}" aria-label="Lon, Lat">
                </div>
            </div>
            {% else %}
            <input type="hidden" id="input_mcl" value="-1" name="mcl" />
            {% endif %}

            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="input_csa">Critical Source Area (ha)
                        <a data-toggle="tooltip" data-placement="top" title="The minimum drainage area below which a permanent channel forms."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                    </label>
                </div>
                <div class="col-sm-3">
                    <input id="input_csa" name="csa" class="form-control mr-sm-3 disable-readonly" type="text" value="{{ watershed.csa | round | int }}" aria-label="Lon, Lat">
                </div>
            </div>
        </div>
        <div class="unitizer units-ft">
            {% if watershed.delineation_backend_is_topaz %}
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="input_mcl_en">Minimum Channel Length (ft)
                        <a data-toggle="tooltip" data-placement="top" title="The shortest length that any channel is allowed to be. A value of 60 m, means that at least two 30-m DEM pixel is needed to initiate the headwater channel. As a rule of thumb it should be 13x of the CSA. e.g. if the CSA is 25 acres the MCL should be 330 ft."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                    </label>
                </div>
                <div class="col-sm-3">
                    <input id="input_mcl_en" name="mcl_en" class="form-control mr-sm-3 disable-readonly" type="text" value="{{ (watershed.mcl * 3.28084) | round | int }}" aria-label="Lon, Lat">
                </div>
            </div>
            {% else %}
            <input type="hidden" id="input_mcl_en" value="-1" name="mcl_en" />
            {% endif %}
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="input_csa_en">Critical Source Area (acre)
                        <a data-toggle="tooltip" data-placement="top" title="The minimum drainage area below which a permanent channel forms."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                    </label>
                </div>
                <div class="col-sm-3">
                    <input id="input_csa_en" name="csa_en" class="form-control mr-sm-3 disable-readonly" type="text" value="{{ (watershed.csa * 2.47105) | round | int }}" aria-label="Lon, Lat">
                </div>
            </div>
        </div>
    </div> <!-- close Unitzer -->

    <div style="height:1em;"> </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_build_channels_en" 
                class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">
                Build Channels
            </button>
            <small id="hint_build_channels_en" class="text-muted"></small>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_channels_en" class="text-muted"></small>
        </div>
    </div>
{% endblock %}

