 <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>P MEAN</td>
        {% for v, nwd in station.monthlies.ppts|zip(station.monthlies.nwds) %}
        <td class="text-right">{{ unitizer(v * nwd, 'in') | safe  }}</td>
        {% endfor %}
        <td>{{ unitizer_units('in') | safe }}</td>
      </tr>
      <tr>
        <td>T MAX</td>
        {% for v in station.monthlies.tmaxs %}
        <td class="text-right">{{ unitizer(v, 'degf') | safe }}</td>
        {% endfor %}
        <td>{{ unitizer_units('degf') | safe }}</td>
      </tr>
      <tr>
        <td>T MIN</td>
        {% for v in station.monthlies.tmins %}
        <td class="text-right">{{ unitizer(v, 'degf') | safe }}</td>
        {% endfor %}
        <td>{{ unitizer_units('degf') | safe }}</td>
      </tr>
    </tbody>
</table>