{% extends "controls/_base.htm" %}
{% block form_id %}climate_form{% endblock %}
{% block form_title %}Climate Options{% endblock %}
{% block inputs %}
    <h3>Select Station</h3>
    <div class="form-group row">
        <div class="col-sm-1">
            <h5>Filter</h5>
        </div>
        {% if 'eu' not in ron.config_stem and 'au' not in ron.config_stem %}
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="climatestation_mode0"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 0] }}>
                Closest</label>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="climatestation_mode1"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 1] }}>
                Multi-Factor Ranking (Considers Distance, Elevation, and Climate)</label>
        </div>
        {% elif 'eu' in ron.config_stem %}
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="climatestation_mode0"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 0] }}>
                Closest</label>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="climatestation_mode1"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 1] }}>
                Multi-Factor Ranking (Considers Distance, Elevation, and Climate)</label>
        </div>
        {% elif 'au' in ron.config_stem %}
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="climatestation_mode0"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 0] }}>
                Closest</label>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="climatestation_mode1"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 1] }}>
                Multi-Factor Ranking (Considers Distance, Elevation, and Climate)</label>
        </div>
        {% endif %}
    </div>    
    <div class="form-group row">
        <div class="col-sm-5">
            <select class="form-control disable-readonly" id="climate_station_selection" name="climate_station_selection">
            </select>
        </div>
        <div class="col-sm-3">
            <a href="#" id="climate_par_link">View PAR</a>
        </div>
    </div>
    <div id="climate_monthlies"></div>
    <h4>Climate Method</h4>
    <div class="form-group row">
        <div class="col-sm-6">
            {% if 'eu' not in ron.config_stem and 'au' not in ron.config_stem %}
            <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_mode0" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 0] }}> "Vanilla" CLIGEN
                <a data-toggle="tooltip" data-placement="top" title="Actual climate station data. No spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="5" class="disable-readonly" id="climate_mode5" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 5] }}> PRISM Modified
                <a data-toggle="tooltip" data-placement="top" title="Recommended. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="2" class="disable-readonly" id="climate_mode2" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 2] }}> Observed (DAYMET)
                <a data-toggle="tooltip" data-placement="top" title="Recommended only when streamflow data is available. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="9" class="disable-readonly" id="climate_mode9" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 9] }}> Observed (DAYMET) with PRISM Revision
                <a data-toggle="tooltip" data-placement="top" title="Recommended only when streamflow data is available. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="11" class="disable-readonly" id="climate_mode11" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 11] }}> Observed (GRIDMET) with PRISM Revision
                <a data-toggle="tooltip" data-placement="top" title="Recommended only when streamflow data is available. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="3" class="disable-readonly" id="climate_mode3" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 3] }}> Future (CMIP5)
                <a data-toggle="tooltip" data-placement="top" title="Experimental."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="4" class="disable-readonly" id="climate_mode4" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 4] }}> Single Storm
                <a data-toggle="tooltip" data-placement="top" title="Designed Event."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            {% if climate.observed_clis != none %}
            <label class="radio"><input type="radio" value="6" class="disable-readonly" id="climate_mode6" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 6] }}> Observed Climate Database</label><br/>
            {%  endif %}
            {% if climate.future_clis != none %}
            <label class="radio"><input type="radio" value="7" class="disable-readonly" id="climate_mode7" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 7] }}> Future Climate Database</label><br/>
            {%  endif %}

            {% elif 'eu' in ron.config_stem %}
            <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_mode0" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 0] }}> "Vanilla" CLIGEN
                <a data-toggle="tooltip" data-placement="top" title="Actual climate station data. No spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="8" class="disable-readonly" id="climate_mode8" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 8] }}> E-OBS Modified (Europe)
                <a data-toggle="tooltip" data-placement="top" title="Recommended. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a><br/>
            </label><br/>
            <label class="radio"><input type="radio" value="4" class="disable-readonly" id="climate_mode4" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 4] }}> Single Storm
                <a data-toggle="tooltip" data-placement="top" title="Designed Event."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>

            {% elif 'au' in ron.config_stem %}
            <label class="radio"><input type="radio" value="10" class="disable-readonly" id="climate_mode10" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 10] }}> AGDC Modified (Australia)
                <a data-toggle="tooltip" data-placement="top" title="Recommended. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a><br/>
            <label class="radio"><input type="radio" value="4" class="disable-readonly" id="climate_mode4" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 4] }}> Single Storm
                <a data-toggle="tooltip" data-placement="top" title="Designed Event."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            </label><br/>
            {% endif %}
        </div>
    </div>
    <div id="climate_spatialmode_controls">
        <h5>Spatial Mode</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_spatialmode0" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 0] }}> Single Climate
                    <a data-toggle="tooltip" data-placement="top" title="One per watershed."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="1" class="disable-readonly" id="climate_spatialmode1" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 1] }}> Multiple Climates
                    <a data-toggle="tooltip" data-placement="top" title="One for each hillslope."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
            </div>
        </div>
    </div>
    <div id="input_years_container">
        <h5>Stochastic Climate Generation</h5>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="input_years">Number of years to simulate: </label>
            </div>
            <div class="col-sm-4">
                <input id="input_years" name="input_years" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.input_years }}" aria-label="Years to simulate">
            </div>
        </div>
    </div>
    <div id="climate_mode0_controls">
    </div>
    <div id="climate_mode5_controls">
    </div>
    <div id="climate_mode8_controls">
    </div>
    <div id="climate_mode10_controls">
    </div>
    <div id="climate_mode6_controls">
        <h5>Observed Climate Database</h5>
        <select class="form-control disable-readonly" id="climate_observed_selection" name="climate_observed_selection">
            {% if climate.observed_clis != none %}
            {% for fn in climate.observed_clis %}
            <option value="{{ fn }}">{{ fn }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    <div id="climate_mode7_controls">
        <h5>Future Climate Database</h5>
        <select class="form-control disable-readonly" id="climate_future_selection" name="climate_future_selection">
            {% if climate.future_clis != none %}
            {% for fn in climate.future_clis %}
            <option value="{{ fn }}">{{ fn }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    <div id="climate_mode2_controls">
        <h5>Observed</h5>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="observed_start_year">Start Year [1980-2016]: </label>
            </div>
            <div class="col-sm-4">
                <input id="observed_start_year" 
                name="observed_start_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.observed_start_year }}" aria-label="Start Year" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="observed_end_year">End Year [1980-2016]: </label>
            </div>
            <div class="col-sm-4">
                <input id="observed_end_year" 
                name="observed_end_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.observed_end_year }}" aria-label="End Year">
            </div>
        </div>
    </div>
    <div id="climate_mode3_controls">
        <h5>Future (CMIP5)</h5>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="future_start_year">Start Year [2006-2099]: </label>
            </div>
            <div class="col-sm-4">
                <input id="future_start_year" 
                name="future_start_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.future_start_year }}" aria-label="Start Year">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="future_end_year">End Year [2006-2099]: </label>
            </div>
            <div class="col-sm-4">
                <input id="future_end_year" 
                name="future_end_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.future_end_year }}" aria-label="End Year">
            </div>
        </div>
    </div>
    <div id="climate_mode4_controls">
        <h5>Single Storm (Cligen)</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_storm_date">Enter Month Day and Year of Storm (mo da yr): </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_storm_date" 
                name="ss_storm_date" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_storm_date }}" placeholder="M D Y" 
                aria-label="Storm Date">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_design_storm_amount_inches">Enter Design Storm Amount in Inches (e.g. 6.30) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_design_storm_amount_inches" 
                name="ss_design_storm_amount_inches" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_design_storm_amount_inches }}" placeholder="" 
                aria-label="Design Storm Amount in inches">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_duration_of_storm_in_hours">Enter Storm Duration in Hours (e.g. 6) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_duration_of_storm_in_hours" 
                name="ss_duration_of_storm_in_hours" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_duration_of_storm_in_hours }}" placeholder="" 
                aria-label="Duration of storm in hour">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_time_to_peak_intensity_pct">Enter Time to Peak Intensity (% Duration e.g. .4) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_time_to_peak_intensity_pct" 
                name="ss_time_to_peak_intensity_pct" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_time_to_peak_intensity_pct }}" placeholder="" 
                aria-label="Time to peak intensity %">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_max_intensity_inches_per_hour">Enter Maximum Intensity Inches/Hour (e.g. 3.0) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_max_intensity_inches_per_hour" 
                name="ss_max_intensity_inches_per_hour" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_max_intensity_inches_per_hour }}" placeholder="" 
                aria-label="Max intensity inches per hour">
            </div>
        </div>
    </div>
    <div class="form-group row hide-readonly" id="btn_build_climate_container">
        <div class="col-sm-4">
            <button id="btn_build_climate" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Build Climate</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_climate"></small>
        </div>
    </div>
{% endblock %}