{% extends "controls/_base.htm" %}
{% block form_id %}climate_form{% endblock %}
{% block form_title %}Climate Options{% endblock %}
{% block inputs %}

{% if 'reveg' in climate.config_stem %}
{% endif %}

<div class="hide-readonly">
    <div class="form-group row">
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" value="0" name="climate_build_mode" {{ ('', 'checked')[climate.climatestation_mode != 4] }}> 
                  Use CLIGEN</label>
        </div>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" value="1"  name="climate_build_mode" {{ ('', 'checked')[climate.climatestation_mode == 4] }}> 
                  User Defined Climate</label>
        </div>
    </div>
</div>
<div id="climate_userdefined">
    <h4 data-toc-skip>User Defined</h4>
    <div class="form-group row hide-readonly">
        <div class="col-md-6">
            <input id="input_upload_cli" name="input_upload_cli" type="file" class="file">
        </div>
    </div>
    <div>
        <h5>Spatial Mode</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_spatialmode0" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 0] }}> Single Climate
                    <a data-toggle="tooltip" data-placement="top" title="One per watershed."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="1" class="disable-readonly" id="climate_spatialmode1" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 1] }}> Multiple Climates
                    <a data-toggle="tooltip" data-placement="top" title="One for each hillslope."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
            </div>
        </div>
    </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_upload_cli" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button" 
             onclick="Climate.getInstance().upload_cli()">Upload .cli</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_upload_cli"></small>
        </div>
    </div>
</div>
<div id="climate_cligen">
    <h4 data-toc-skip>Select Station</h4>
    <div class="form-group row">
        <div class="col-sm-1">
            <h5>Filter</h5>
        </div>
        {% if 'eu' not in ron.locales and 'au' not in ron.locales %}
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="climatestation_mode0"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 0] }}>
                Closest</label>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="climatestation_mode1"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 1] }}>
                Multi-Factor Ranking (Considers Distance, Elevation, and Climate)</label>
        </div>
        {% elif 'eu' in ron.locales %}
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="climatestation_mode0"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 0] }}>
                Closest</label>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="climatestation_mode1"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 1] }}>
                Multi-Factor Ranking (Considers Distance, Elevation, and Climate)</label>
        </div>
        {% elif 'au' in ron.locales %}
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="climatestation_mode0"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 0] }}>
                Closest</label>
        </div>
        <div class="col-sm-8">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="climatestation_mode1"
            name="climatestation_mode" {{ ('', 'checked')[climate.climatestation_mode == 1] }}>
                Multi-Factor Ranking (Considers Distance, Elevation, and Climate)</label>
        </div>
        {% endif %}
    </div>    
    <div class="form-group row">
        <div class="col-sm-5">
            <select class="form-control disable-readonly" id="climate_station_selection" name="climate_station_selection">
            </select>
        </div>
        <div class="col-sm-3">
            <a href="view/par/" target="_blank" >View PAR</a>
        </div>
    </div>
    <div id="climate_monthlies"></div>

    <h4 data-toc-skip>Climate Method</h4>
    <div style="height:30px">
      {% if 'rap_ts' in climate.mods %}
      <i>Revegetation requires historical climates (e.g. DAYMET, GRIDMET) within the period available 
      from RAP 1986-2023</i>
      {% endif %}
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            {% if 'eu' not in ron.locales and 'au' not in ron.locales %}
            <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_mode0" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 0] }}> "Vanilla" CLIGEN
                <a data-toggle="tooltip" data-placement="top" title="Actual climate station data. No spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>

            {% if 'alaska' not in ron.locales and 'hawaii' not in ron.locales %}
                <label class="radio"><input type="radio" value="5" class="disable-readonly" id="climate_mode5" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 5] }}> PRISM Modified
                    <a data-toggle="tooltip" data-placement="top" title="Recommended. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="9" class="disable-readonly" id="climate_mode9" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 9] }}> Observed DAYMET (GRIDMET wind) with PRISM Revision [1980 - {{ climate.daymet_last_available_year }}]
                    <a data-toggle="tooltip" data-placement="top" title="Recommended only when streamflow data is available. Does spatial interpolation. Available up to 2019."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="11" class="disable-readonly" id="climate_mode11" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 11] }}> Observed GRIDMET with PRISM Revision [1980 - Present]
                    <a data-toggle="tooltip" data-placement="top" title="Recommended only when streamflow data is available. Does spatial interpolation. Available up to the day before yesterday. (For current year data to the end of the year is stochastically generated to allow WEPP to run.)"><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="13" class="disable-readonly" id="climate_mode13" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 13] }}> DEP NEXRAD Breakpoint files (0.01 deg grid) [2007 - Present]
                    <a data-toggle="tooltip" data-placement="top" title="Breakpoint climate files 2007-present"><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="3" class="disable-readonly" id="climate_mode3" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 3] }}> Future (CMIP5) [2006 - 2099]
                    <a data-toggle="tooltip" data-placement="top" title="Experimental."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="4" class="disable-readonly" id="climate_mode4" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 4] }}> Single Storm
                    <a data-toggle="tooltip" data-placement="top" title="Designed Event."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio"><input type="radio" value="14" class="disable-readonly" id="climate_mode14" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 14] }}> Single Storm Batch
                    <a data-toggle="tooltip" data-placement="top" title="Designed Events ran in Batch Mode."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>

                {% if climate.observed_clis != none %}
                    <label class="radio"><input type="radio" value="6" class="disable-readonly" id="climate_mode6" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 6] }}> Observed Climate Database</label><br/>
                {%  endif %}
                {% if climate.future_clis != none %}
                    <label class="radio"><input type="radio" value="7" class="disable-readonly" id="climate_mode7" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 7] }}> Future Climate Database</label><br/>
                {%  endif %}
            {%  endif %}

            {% elif 'eu' in ron.locales %}
            <label class="radio"><input type="radio" value="0" class="disable-readonly" id="climate_mode0" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 0] }}> "Vanilla" CLIGEN
                <a data-toggle="tooltip" data-placement="top" title="Actual climate station data. No spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
            </label><br/>
            <label class="radio"><input type="radio" value="8" class="disable-readonly" id="climate_mode8" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 8] }}> E-OBS Modified (Europe)
                <a data-toggle="tooltip" data-placement="top" title="Recommended. Does spatial interpolation."><img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a><br/>
            </label><br/>
            <label class="radio"><input type="radio" value="4" class="disable-readonly" id="climate_mode4" name="climate_mode" {{ ('', 'checked')[climate.climate_mode == 4] }}> Single Storm
            </label><br/>
            {% endif %}
        </div>
    </div>
    <div id="climate_mode13_controls">
        <h5>NEXRAD Daily Modified Dataset</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label class="radio">
                    <input type="radio" value="null" class="disable-readonly" 
                    id="climate_daily_temp_ds_null" name="climate_daily_temp_ds" {{ ('', 'checked')[climate.climate_daily_temp_ds == 'null'] }}> 
                    Keep Original</a>
                </label><br/>
                <label class="radio">
                    <input type="radio" value="prism" class="disable-readonly" 
                    id="climate_daily_temp_ds_prism" name="climate_daily_temp_ds" {{ ('', 'checked')[climate.climate_daily_temp_ds == 'prism'] }}> 
                    PRISM:tmax, tmin, tdew (- 2023)</a>
                </label><br/>
                <label class="radio">
                    <input type="radio" value="gridmet" class="disable-readonly" 
                    id="climate_daily_temp_ds_gridmet" name="climate_daily_temp_ds" {{ ('', 'checked')[climate.climate_daily_temp_ds == 'gridmet'] }}> 
                    GRIDMET: tmax, tmin, tdew, srad, w-vl, w-dir (- 2023)</a>
                </label><br/>
                <label class="radio">
                    <input type="radio" value="daymet" class="disable-readonly" 
                    id="climate_daily_temp_ds_daymet" name="climate_daily_temp_ds" {{ ('', 'checked')[climate.climate_daily_temp_ds == 'daymet'] }}> 
                    DAYMET: tmax, tmin, tdew, srad (- 2022)</a>
                </label><br/>
            </div>
        </div>
    </div>
    <div id="climate_spatialmode_controls">
        <h5>Spatial Mode</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label class="radio">
                    <input type="radio" value="0" class="disable-readonly" id="climate_spatialmode0" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 0] }}> Single Climate
                    <a data-toggle="tooltip" data-placement="top" 
                      title="One per watershed.">
                      <img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
                <label class="radio">
                    <input type="radio" value="1" class="disable-readonly" 
                      id="climate_spatialmode1" name="climate_spatialmode" {{ ('', 'checked')[climate.climate_spatialmode == 1] }}> Multiple Climates
                    <a data-toggle="tooltip" data-placement="top" title="One for each hillslope.">
                      <img src="{{ url_for('static', filename='images/61692-200-24.png') }}"/></a>
                </label><br/>
            </div>
        </div>
    </div>
    <div id="input_years_container">
        <h5>Stochastic Climate Generation</h5>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="input_years">Number of years to simulate: </label>
            </div>
            <div class="col-sm-4">
                <input id="input_years" name="input_years" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.input_years }}" aria-label="Years to simulate">
            </div>
        </div>
    </div>
    <div id="observed_years_container">
        <h5>Observed Years</h5>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="observed_start_year">Start Year:</label>
            </div>
            <div class="col-sm-4">
                <input id="observed_start_year"
                name="observed_start_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.observed_start_year }}" aria-label="Start Year" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="observed_end_year">End Year:</label>
            </div>
            <div class="col-sm-4">
                <input id="observed_end_year"
                name="observed_end_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.observed_end_year }}" aria-label="End Year">
            </div>
        </div>
    </div>
    <div id="future_years_container">
        <h5>Future (CMIP5)</h5>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="future_start_year">Start Year: </label>
            </div>
            <div class="col-sm-4">
                <input id="future_start_year"
                name="future_start_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.future_start_year }}" aria-label="Start Year">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="future_end_year">End Year: </label>
            </div>
            <div class="col-sm-4">
                <input id="future_end_year"
                name="future_end_year" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.future_end_year }}" aria-label="End Year">
            </div>
        </div>
    </div>
    <div id="climate_mode4_controls">
        <h5>Single Storm (Cligen)</h5>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_storm_date">Enter Month Day and Year of Storm (mo da yr): </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_storm_date"
                name="ss_storm_date" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_storm_date }}" placeholder="M D Y"
                aria-label="Storm Date">
            </div>
        </div>

        <div class="unitizer-wrapper" style="height:50px;">
            <div class="unitizer units-m">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="ss_design_storm_amount_mm">Enter Design Storm Amount in mm (e.g. 160) </label>
                    </div>
                    <div class="col-sm-3">
                        <input id="ss_design_storm_amount_mm"
                        name="ss_design_storm_amount_mm" class="form-control mr-sm-3 disable-readonly" type="text"
                        value="{{ climate.ss_design_storm_amount_inches * 25.4 }}" placeholder=""
                        aria-label="Design Storm Amount in mm">
                    </div>
                </div>
            </div>
            <div class="unitizer units-ft">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="ss_design_storm_amount_inches">Enter Design Storm Amount in Inches (e.g. 6.30) </label>
                    </div>
                    <div class="col-sm-3">
                        <input id="ss_design_storm_amount_inches"
                        name="ss_design_storm_amount_inches" class="form-control mr-sm-3 disable-readonly" type="text"
                        value="{{ climate.ss_design_storm_amount_inches }}" placeholder=""
                        aria-label="Design Storm Amount in inches">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_duration_of_storm_in_hours">Enter Storm Duration in Hours (e.g. 6) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_duration_of_storm_in_hours"
                name="ss_duration_of_storm_in_hours" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_duration_of_storm_in_hours }}" placeholder=""
                aria-label="Duration of storm in hour">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="ss_time_to_peak_intensity_pct">Enter Time to Peak Intensity (% Duration) </label>
            </div>
            <div class="col-sm-3">
                <input id="ss_time_to_peak_intensity_pct"
                name="ss_time_to_peak_intensity_pct" class="form-control mr-sm-3 disable-readonly" type="text"
                value="{{ climate.ss_time_to_peak_intensity_pct }}" placeholder=""
                aria-label="Time to peak intensity %">
            </div>
        </div>


        <div class="unitizer-wrapper" style="height:50px;">
            <div class="unitizer units-m">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="ss_max_intensity_mm_per_hour">Enter Maximum Intensity mm/Hour (e.g. 75.0) </label>
                    </div>
                    <div class="col-sm-3">
                        <input id="ss_max_intensity_mm_per_hour"
                        name="ss_max_intensity_mm_per_hour" class="form-control mr-sm-3 disable-readonly" type="text"
                        value="{{ climate.ss_max_intensity_inches_per_hour * 25.4 }}" placeholder=""
                        aria-label="Max intensity mm per hour">
                    </div>
                </div>
            </div>
            <div class="unitizer units-ft">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="ss_max_intensity_inches_per_hour">Enter Maximum Intensity Inches/Hour (e.g. 3.0) </label>
                    </div>
                    <div class="col-sm-3">
                        <input id="ss_max_intensity_inches_per_hour"
                        name="ss_max_intensity_inches_per_hour" class="form-control mr-sm-3 disable-readonly" type="text"
                        value="{{ climate.ss_max_intensity_inches_per_hour }}" placeholder=""
                        aria-label="Max intensity inches per hour">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="climate_mode14_controls">
        <h5>Single Storm Batch (Cligen)</h5>
        <div>
            <p>Specify single storms as separate rows: mo da yr prcp(in) duration(hours) time-to-peak(%) intensity(in/hour)</p>
        </div>
        <div class="form-group row">
            <textarea id="ss_batch" name="ss_batch" class="form-control mr-sm-3 disable-readonly" rows="20" placeholder="mo da year prcp dur tp ip" aria-label="Storm Date">{{ climate.ss_batch }}</textarea>
        </div>
    </div>
    <div class="form-group row hide-readonly" id="btn_build_climate_container">
        <div class="col-sm-4">
            <button id="btn_build_climate" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Build Climate</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_climate"></small>
        </div>
    </div>
</div>
{% endblock %}

