{% extends "controls/_base.htm" %}
{% block form_id %}landuse_form{% endblock %}
{% block form_title %}Landuse Options{% endblock %}
{% block inputs %}
<div class="form-group row">
  <div class="col-sm-3">
    <label class="radio-inline"><input type="radio" class="disable-readonly" value="0" id="landuse_mode0"
        name="landuse_mode"> Determine Per Hillslope</label>
  </div>
  <div class="col-sm-3">
    <label class="radio-inline"><input type="radio" class="disable-readonly" value="1" id="landuse_mode1"
        name="landuse_mode"> Single Landuse for Watershed</label>
  </div>
  <div class="col-sm-3">
    <label class="radio-inline"><input type="radio" class="disable-readonly" value="4" id="landuse_mode4"
        name="landuse_mode"> Upload Landcover Map</label>
  </div>
  {% if 'rred' in ron.mods %}
  <div class="d-none">
    <div class="d-none">
      <label class="radio-inline"><input type="radio" class="disable-readonly" value="2" id="landuse_mode2"
          name="landuse_mode"> RRED Unburned</label>
    </div>
    <div class="d-none">
      <label class="radio-inline"><input type="radio" class="disable-readonly" value="3" id="landuse_mode3"
          name="landuse_mode"> RRED Burned</label>
    </div>
  </div>
  {% endif %}
</div>
<div id="landuse_mode0_controls" class="form-group row hide-readonly">
  <div class="col-sm-5">
    <label for="nlcd_db">Select Landcover DB: </label>
  </div>
  <div class="col-sm-8">
    <select class="form-control disable-readonly" id="landuse_db" name="landuse_db"
      onchange="Landuse.getInstance().setLanduseDb(this.value)">
      {% if 'ChileCayumanque' in ron.locales %}
      <option value="locales/ChileCayumanque/landuse" {% if landuse.nlcd_db=="locales/ChileCayumanque/landuse" %}selected{% endif %}>ChileCayumanque/landuse
      </option>
      {% elif 'alaska' in ron.locales %}
      <option value="alaska/nlcd/2001" {% if landuse.nlcd_db=="alaska/nlcd/2001" %}selected{% endif %}>NLCD/2001
      </option>
      <option value="alaska/nlcd/2011" {% if landuse.nlcd_db=="alaska/nlcd/2011" %}selected{% endif %}>NLCD/2011
      </option>
      <option value="alaska/nlcd/2016" {% if landuse.nlcd_db=="alaska/nlcd/2016" %}selected{% endif %}>NLCD/2016
      </option>
      {% elif 'oyster-creek' in ron.locales %}
      <option value="nlcd/2023" {% if landuse.nlcd_db=="nlcd/2023" %}selected{% endif %}>NLCD/2023</option>
      <option value="nlcd/2020" {% if landuse.nlcd_db=="nlcd/2020" %}selected{% endif %}>NLCD/2020</option>
      <option value="nlcd/2016" {% if landuse.nlcd_db=="nlcd/2016" %}selected{% endif %}>NLCD/2016</option>
      <option value="nlcd/2010" {% if landuse.nlcd_db=="nlcd/2010" %}selected{% endif %}>NLCD/2010</option>
      <option value="nlcd/2006" {% if landuse.nlcd_db=="nlcd/2006" %}selected{% endif %}>NLCD/2006</option>
      <option value="nlcd/2001" {% if landuse.nlcd_db=="nlcd/2001" %}selected{% endif %}>NLCD/2001</option>
      <option value="nlcd/1996" {% if landuse.nlcd_db=="nlcd/1996" %}selected{% endif %}>NLCD/1996</option>
      <option value="locales/oyster-creek/landuse/1993" {% if landuse.nlcd_db=="locales/oyster-creek/landuse/1993" %}selected{% endif %}>Himmelstein/1993</option>
      <option value="locales/oyster-creek/landuse/1982" {% if landuse.nlcd_db=="locales/oyster-creek/landuse/1982" %}selected{% endif %}>Himmelstein/1982</option>
      <option value="locales/oyster-creek/landuse/1975" {% if landuse.nlcd_db=="locales/oyster-creek/landuse/1975" %}selected{% endif %}>Himmelstein/1975</option>
      <option value="locales/oyster-creek/landuse/1970" {% if landuse.nlcd_db=="locales/oyster-creek/landuse/1970" %}selected{% endif %}>Himmelstein/1970</option>
      <option value="locales/oyster-creek/landuse/1964" {% if landuse.nlcd_db=="locales/oyster-creek/landuse/1964" %}selected{% endif %}>Himmelstein/1964</option>
      <option value="locales/oyster-creek/landuse/1959" {% if landuse.nlcd_db=="locales/oyster-creek/landuse/1959" %}selected{% endif %}>Himmelstein/1959</option>
      {% elif 'virgin_islands' in ron.locales %}
      <option value="locales/virgin_islands/landcover" {% if landuse.nlcd_db=="locales/virgin_islands/landcover"
        %}selected{% endif %}>USVI Landcover 2018</option>
      <option value="locales/virgin_islands/landcover/2023" {% if landuse.nlcd_db=="locales/virgin_islands/landcover/2023"
        %}selected{% endif %}>USVI Landcover 2023</option>
      {% elif 'eu' in ron.locales %}
      <option value="eu/CORINE_LandCover/1990" {% if landuse.nlcd_db=="eu/CORINE_LandCover/1990" %}selected{% endif %}>
        CORINE 1990</option>
      <option value="eu/CORINE_LandCover/2000" {% if landuse.nlcd_db=="eu/CORINE_LandCover/2000" %}selected{% endif %}>
        CORINE 2000</option>
      <option value="eu/CORINE_LandCover/2006" {% if landuse.nlcd_db=="eu/CORINE_LandCover/2006" %}selected{% endif %}>
        CORINE 2006</option>
      <option value="eu/CORINE_LandCover/2012" {% if landuse.nlcd_db=="eu/CORINE_LandCover/2012" %}selected{% endif %}>
        CORINE 2012</option>
      <option value="eu/CORINE_LandCover/2018" {% if landuse.nlcd_db=="eu/CORINE_LandCover/2018" %}selected{% endif %}>
        CORINE 2018</option>
      {% elif 'au' in ron.locales %}
      {% elif 'earth' in ron.locales or 'nigeria' in ron.locales %}
      <option value="locales/earth/C3Slandcover/2020" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2020"
        %}selected{% endif %}>C3Slandcover/2020</option>
      <option value="locales/earth/C3Slandcover/2019" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2019"
        %}selected{% endif %}>C3Slandcover/2019</option>
      <option value="locales/earth/C3Slandcover/2018" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2018"
        %}selected{% endif %}>C3Slandcover/2018</option>
      <option value="locales/earth/C3Slandcover/2017" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2017"
        %}selected{% endif %}>C3Slandcover/2017</option>
      <option value="locales/earth/C3Slandcover/2016" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2016"
        %}selected{% endif %}>C3Slandcover/2016</option>
      <option value="locales/earth/C3Slandcover/2015" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2015"
        %}selected{% endif %}>C3Slandcover/2015</option>
      <option value="locales/earth/C3Slandcover/2014" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2014"
        %}selected{% endif %}>C3Slandcover/2014</option>
      <option value="locales/earth/C3Slandcover/2013" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2013"
        %}selected{% endif %}>C3Slandcover/2013</option>
      <option value="locales/earth/C3Slandcover/2012" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2012"
        %}selected{% endif %}>C3Slandcover/2012</option>
      <option value="locales/earth/C3Slandcover/2011" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2011"
        %}selected{% endif %}>C3Slandcover/2011</option>
      <option value="locales/earth/C3Slandcover/2010" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2010"
        %}selected{% endif %}>C3Slandcover/2010</option>
      <option value="locales/earth/C3Slandcover/2009" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2009"
        %}selected{% endif %}>C3Slandcover/2009</option>
      <option value="locales/earth/C3Slandcover/2008" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2008"
        %}selected{% endif %}>C3Slandcover/2008</option>
      <option value="locales/earth/C3Slandcover/2007" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2007"
        %}selected{% endif %}>C3Slandcover/2007</option>
      <option value="locales/earth/C3Slandcover/2006" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2006"
        %}selected{% endif %}>C3Slandcover/2006</option>
      <option value="locales/earth/C3Slandcover/2005" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2005"
        %}selected{% endif %}>C3Slandcover/2005</option>
      <option value="locales/earth/C3Slandcover/2004" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2004"
        %}selected{% endif %}>C3Slandcover/2004</option>
      <option value="locales/earth/C3Slandcover/2003" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2003"
        %}selected{% endif %}>C3Slandcover/2003</option>
      <option value="locales/earth/C3Slandcover/2002" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2002"
        %}selected{% endif %}>C3Slandcover/2002</option>
      <option value="locales/earth/C3Slandcover/2001" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2001"
        %}selected{% endif %}>C3Slandcover/2001</option>
      <option value="locales/earth/C3Slandcover/2000" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/2000"
        %}selected{% endif %}>C3Slandcover/2000</option>
      <option value="locales/earth/C3Slandcover/1999" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1999"
        %}selected{% endif %}>C3Slandcover/1999</option>
      <option value="locales/earth/C3Slandcover/1998" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1998"
        %}selected{% endif %}>C3Slandcover/1998</option>
      <option value="locales/earth/C3Slandcover/1997" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1997"
        %}selected{% endif %}>C3Slandcover/1997</option>
      <option value="locales/earth/C3Slandcover/1996" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1996"
        %}selected{% endif %}>C3Slandcover/1996</option>
      <option value="locales/earth/C3Slandcover/1995" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1995"
        %}selected{% endif %}>C3Slandcover/1995</option>
      <option value="locales/earth/C3Slandcover/1994" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1994"
        %}selected{% endif %}>C3Slandcover/1994</option>
      <option value="locales/earth/C3Slandcover/1993" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1993"
        %}selected{% endif %}>C3Slandcover/1993</option>
      <option value="locales/earth/C3Slandcover/1992" {% if landuse.nlcd_db=="locales/earth/C3Slandcover/1992"
        %}selected{% endif %}>C3Slandcover/1992</option>
      {% else %}
      <option value="nlcd/ever_forest/2024" {% if landuse.nlcd_db=="nlcd/ever_forest/2024" %}selected{% endif %}>nlcd/ever_forest/2024</option>
      <option value="nlcd/ever_forest/2023" {% if landuse.nlcd_db=="nlcd/ever_forest/2023" %}selected{% endif %}>nlcd/ever_forest/2023</option>
      <option value="nlcd/ever_forest/2022" {% if landuse.nlcd_db=="nlcd/ever_forest/2022" %}selected{% endif %}>nlcd/ever_forest/2022</option>
      <option value="nlcd/ever_forest/2021" {% if landuse.nlcd_db=="nlcd/ever_forest/2021" %}selected{% endif %}>nlcd/ever_forest/2021</option>
      <option value="nlcd/ever_forest/2020" {% if landuse.nlcd_db=="nlcd/ever_forest/2020" %}selected{% endif %}>nlcd/ever_forest/2020</option>
      <option value="nlcd/ever_forest/2019" {% if landuse.nlcd_db=="nlcd/ever_forest/2019" %}selected{% endif %}>nlcd/ever_forest/2019</option>
      <option value="nlcd/ever_forest/2018" {% if landuse.nlcd_db=="nlcd/ever_forest/2018" %}selected{% endif %}>nlcd/ever_forest/2018</option>
      <option value="nlcd/ever_forest/2017" {% if landuse.nlcd_db=="nlcd/ever_forest/2017" %}selected{% endif %}>nlcd/ever_forest/2017</option>
      <option value="nlcd/ever_forest/2016" {% if landuse.nlcd_db=="nlcd/ever_forest/2016" %}selected{% endif %}>nlcd/ever_forest/2016</option>
      <option value="nlcd/ever_forest/2015" {% if landuse.nlcd_db=="nlcd/ever_forest/2015" %}selected{% endif %}>nlcd/ever_forest/2015</option>
      <option value="nlcd/ever_forest/2014" {% if landuse.nlcd_db=="nlcd/ever_forest/2014" %}selected{% endif %}>nlcd/ever_forest/2014</option>
      <option value="nlcd/ever_forest/2013" {% if landuse.nlcd_db=="nlcd/ever_forest/2013" %}selected{% endif %}>nlcd/ever_forest/2013</option>
      <option value="nlcd/ever_forest/2012" {% if landuse.nlcd_db=="nlcd/ever_forest/2012" %}selected{% endif %}>nlcd/ever_forest/2012</option>
      <option value="nlcd/ever_forest/2011" {% if landuse.nlcd_db=="nlcd/ever_forest/2011" %}selected{% endif %}>nlcd/ever_forest/2011</option>
      <option value="nlcd/ever_forest/2010" {% if landuse.nlcd_db=="nlcd/ever_forest/2010" %}selected{% endif %}>nlcd/ever_forest/2010</option>
      <option value="nlcd/ever_forest/2009" {% if landuse.nlcd_db=="nlcd/ever_forest/2009" %}selected{% endif %}>nlcd/ever_forest/2009</option>
      <option value="nlcd/ever_forest/2008" {% if landuse.nlcd_db=="nlcd/ever_forest/2008" %}selected{% endif %}>nlcd/ever_forest/2008</option>
      <option value="nlcd/ever_forest/2007" {% if landuse.nlcd_db=="nlcd/ever_forest/2007" %}selected{% endif %}>nlcd/ever_forest/2007</option>
      <option value="nlcd/ever_forest/2006" {% if landuse.nlcd_db=="nlcd/ever_forest/2006" %}selected{% endif %}>nlcd/ever_forest/2006</option>
      <option value="nlcd/ever_forest/2005" {% if landuse.nlcd_db=="nlcd/ever_forest/2005" %}selected{% endif %}>nlcd/ever_forest/2005</option>
      <option value="nlcd/ever_forest/2004" {% if landuse.nlcd_db=="nlcd/ever_forest/2004" %}selected{% endif %}>nlcd/ever_forest/2004</option>
      <option value="nlcd/ever_forest/2003" {% if landuse.nlcd_db=="nlcd/ever_forest/2003" %}selected{% endif %}>nlcd/ever_forest/2003</option>
      <option value="nlcd/ever_forest/2002" {% if landuse.nlcd_db=="nlcd/ever_forest/2002" %}selected{% endif %}>nlcd/ever_forest/2002</option>
      <option value="nlcd/ever_forest/2001" {% if landuse.nlcd_db=="nlcd/ever_forest/2001" %}selected{% endif %}>nlcd/ever_forest/2001</option>
      <option value="nlcd/ever_forest/2000" {% if landuse.nlcd_db=="nlcd/ever_forest/2000" %}selected{% endif %}>nlcd/ever_forest/2000</option>
      <option value="nlcd/ever_forest/1999" {% if landuse.nlcd_db=="nlcd/ever_forest/1999" %}selected{% endif %}>nlcd/ever_forest/1999</option>
      <option value="nlcd/ever_forest/1998" {% if landuse.nlcd_db=="nlcd/ever_forest/1998" %}selected{% endif %}>nlcd/ever_forest/1998</option>
      <option value="nlcd/ever_forest/1997" {% if landuse.nlcd_db=="nlcd/ever_forest/1997" %}selected{% endif %}>nlcd/ever_forest/1997</option>
      <option value="nlcd/ever_forest/1996" {% if landuse.nlcd_db=="nlcd/ever_forest/1996" %}selected{% endif %}>nlcd/ever_forest/1996</option>
      <option value="nlcd/ever_forest/1995" {% if landuse.nlcd_db=="nlcd/ever_forest/1995" %}selected{% endif %}>nlcd/ever_forest/1995</option>
      <option value="nlcd/ever_forest/1994" {% if landuse.nlcd_db=="nlcd/ever_forest/1994" %}selected{% endif %}>nlcd/ever_forest/1994</option>
      <option value="nlcd/ever_forest/1993" {% if landuse.nlcd_db=="nlcd/ever_forest/1993" %}selected{% endif %}>nlcd/ever_forest/1993</option>
      <option value="nlcd/ever_forest/1992" {% if landuse.nlcd_db=="nlcd/ever_forest/1992" %}selected{% endif %}>nlcd/ever_forest/1992</option>
      <option value="nlcd/ever_forest/1991" {% if landuse.nlcd_db=="nlcd/ever_forest/1991" %}selected{% endif %}>nlcd/ever_forest/1991</option>
      <option value="nlcd/ever_forest/1990" {% if landuse.nlcd_db=="nlcd/ever_forest/1990" %}selected{% endif %}>nlcd/ever_forest/1990</option>
      <option value="nlcd/ever_forest/1989" {% if landuse.nlcd_db=="nlcd/ever_forest/1989" %}selected{% endif %}>nlcd/ever_forest/1989</option>
      <option value="nlcd/ever_forest/1988" {% if landuse.nlcd_db=="nlcd/ever_forest/1988" %}selected{% endif %}>nlcd/ever_forest/1988</option>
      <option value="nlcd/ever_forest/1987" {% if landuse.nlcd_db=="nlcd/ever_forest/1987" %}selected{% endif %}>nlcd/ever_forest/1987</option>
      <option value="nlcd/ever_forest/1986" {% if landuse.nlcd_db=="nlcd/ever_forest/1986" %}selected{% endif %}>nlcd/ever_forest/1986</option>
      <option value="nlcd/ever_forest/1985" {% if landuse.nlcd_db=="nlcd/ever_forest/1985" %}selected{% endif %}>nlcd/ever_forest/1985</option>
      <option value="nlcd/2024" {% if landuse.nlcd_db=="nlcd/2024" %}selected{% endif %}>nlcd/2024</option>
      <option value="nlcd/2023" {% if landuse.nlcd_db=="nlcd/2023" %}selected{% endif %}>nlcd/2023</option>
      <option value="nlcd/2022" {% if landuse.nlcd_db=="nlcd/2022" %}selected{% endif %}>nlcd/2022</option>
      <option value="nlcd/2021" {% if landuse.nlcd_db=="nlcd/2021" %}selected{% endif %}>nlcd/2021</option>
      <option value="nlcd/2020" {% if landuse.nlcd_db=="nlcd/2020" %}selected{% endif %}>nlcd/2020</option>
      <option value="nlcd/2019" {% if landuse.nlcd_db=="nlcd/2019" %}selected{% endif %}>nlcd/2019</option>
      <option value="nlcd/2018" {% if landuse.nlcd_db=="nlcd/2018" %}selected{% endif %}>nlcd/2018</option>
      <option value="nlcd/2017" {% if landuse.nlcd_db=="nlcd/2017" %}selected{% endif %}>nlcd/2017</option>
      <option value="nlcd/2016" {% if landuse.nlcd_db=="nlcd/2016" %}selected{% endif %}>nlcd/2016</option>
      <option value="nlcd/2015" {% if landuse.nlcd_db=="nlcd/2015" %}selected{% endif %}>nlcd/2015</option>
      <option value="nlcd/2014" {% if landuse.nlcd_db=="nlcd/2014" %}selected{% endif %}>nlcd/2014</option>
      <option value="nlcd/2013" {% if landuse.nlcd_db=="nlcd/2013" %}selected{% endif %}>nlcd/2013</option>
      <option value="nlcd/2012" {% if landuse.nlcd_db=="nlcd/2012" %}selected{% endif %}>nlcd/2012</option>
      <option value="nlcd/2011" {% if landuse.nlcd_db=="nlcd/2011" %}selected{% endif %}>nlcd/2011</option>
      <option value="nlcd/2010" {% if landuse.nlcd_db=="nlcd/2010" %}selected{% endif %}>nlcd/2010</option>
      <option value="nlcd/2009" {% if landuse.nlcd_db=="nlcd/2009" %}selected{% endif %}>nlcd/2009</option>
      <option value="nlcd/2008" {% if landuse.nlcd_db=="nlcd/2008" %}selected{% endif %}>nlcd/2008</option>
      <option value="nlcd/2007" {% if landuse.nlcd_db=="nlcd/2007" %}selected{% endif %}>nlcd/2007</option>
      <option value="nlcd/2006" {% if landuse.nlcd_db=="nlcd/2006" %}selected{% endif %}>nlcd/2006</option>
      <option value="nlcd/2005" {% if landuse.nlcd_db=="nlcd/2005" %}selected{% endif %}>nlcd/2005</option>
      <option value="nlcd/2004" {% if landuse.nlcd_db=="nlcd/2004" %}selected{% endif %}>nlcd/2004</option>
      <option value="nlcd/2003" {% if landuse.nlcd_db=="nlcd/2003" %}selected{% endif %}>nlcd/2003</option>
      <option value="nlcd/2002" {% if landuse.nlcd_db=="nlcd/2002" %}selected{% endif %}>nlcd/2002</option>
      <option value="nlcd/2001" {% if landuse.nlcd_db=="nlcd/2001" %}selected{% endif %}>nlcd/2001</option>
      <option value="nlcd/2000" {% if landuse.nlcd_db=="nlcd/2000" %}selected{% endif %}>nlcd/2000</option>
      <option value="nlcd/1999" {% if landuse.nlcd_db=="nlcd/1999" %}selected{% endif %}>nlcd/1999</option>
      <option value="nlcd/1998" {% if landuse.nlcd_db=="nlcd/1998" %}selected{% endif %}>nlcd/1998</option>
      <option value="nlcd/1997" {% if landuse.nlcd_db=="nlcd/1997" %}selected{% endif %}>nlcd/1997</option>
      <option value="nlcd/1996" {% if landuse.nlcd_db=="nlcd/1996" %}selected{% endif %}>nlcd/1996</option>
      <option value="nlcd/1995" {% if landuse.nlcd_db=="nlcd/1995" %}selected{% endif %}>nlcd/1995</option>
      <option value="nlcd/1994" {% if landuse.nlcd_db=="nlcd/1994" %}selected{% endif %}>nlcd/1994</option>
      <option value="nlcd/1993" {% if landuse.nlcd_db=="nlcd/1993" %}selected{% endif %}>nlcd/1993</option>
      <option value="nlcd/1992" {% if landuse.nlcd_db=="nlcd/1992" %}selected{% endif %}>nlcd/1992</option>
      <option value="nlcd/1991" {% if landuse.nlcd_db=="nlcd/1991" %}selected{% endif %}>nlcd/1991</option>
      <option value="nlcd/1990" {% if landuse.nlcd_db=="nlcd/1990" %}selected{% endif %}>nlcd/1990</option>
      <option value="nlcd/1989" {% if landuse.nlcd_db=="nlcd/1989" %}selected{% endif %}>nlcd/1989</option>
      <option value="nlcd/1988" {% if landuse.nlcd_db=="nlcd/1988" %}selected{% endif %}>nlcd/1988</option>
      <option value="nlcd/1987" {% if landuse.nlcd_db=="nlcd/1987" %}selected{% endif %}>nlcd/1987</option>
      <option value="nlcd/1986" {% if landuse.nlcd_db=="nlcd/1986" %}selected{% endif %}>nlcd/1986</option>
      <option value="nlcd/1985" {% if landuse.nlcd_db=="nlcd/1985" %}selected{% endif %}>nlcd/1985</option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2017" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2017" %}selected{% endif %}>
        emapr/v1/landcover/vote/2017
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2016" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2016" %}selected{% endif %}>
        emapr/v1/landcover/vote/2016
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2015" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2015" %}selected{% endif %}>
        emapr/v1/landcover/vote/2015
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2014" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2014" %}selected{% endif %}>
        emapr/v1/landcover/vote/2014
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2013" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2013" %}selected{% endif %}>
        emapr/v1/landcover/vote/2013
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2012" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2012" %}selected{% endif %}>
        emapr/v1/landcover/vote/2012
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2011" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2011" %}selected{% endif %}>
        emapr/v1/landcover/vote/2011
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2010" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2010" %}selected{% endif %}>
        emapr/v1/landcover/vote/2010
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2009" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2009" %}selected{% endif %}>
        emapr/v1/landcover/vote/2009
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2008" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2008" %}selected{% endif %}>
        emapr/v1/landcover/vote/2008
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2007" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2007" %}selected{% endif %}>
        emapr/v1/landcover/vote/2007
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2006" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2006" %}selected{% endif %}>
        emapr/v1/landcover/vote/2006
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2005" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2005" %}selected{% endif %}>
        emapr/v1/landcover/vote/2005
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2004" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2004" %}selected{% endif %}>
        emapr/v1/landcover/vote/2004
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2003" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2003" %}selected{% endif %}>
        emapr/v1/landcover/vote/2003
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2002" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2002" %}selected{% endif %}>
        emapr/v1/landcover/vote/2002
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2001" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2001" %}selected{% endif %}>
        emapr/v1/landcover/vote/2001
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/2000" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/2000" %}selected{% endif %}>
        emapr/v1/landcover/vote/2000
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1999" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1999" %}selected{% endif %}>
        emapr/v1/landcover/vote/1999
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1998" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1998" %}selected{% endif %}>
        emapr/v1/landcover/vote/1998
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1997" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1997" %}selected{% endif %}>
        emapr/v1/landcover/vote/1997
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1996" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1996" %}selected{% endif %}>
        emapr/v1/landcover/vote/1996
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1995" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1995" %}selected{% endif %}>
        emapr/v1/landcover/vote/1995
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1994" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1994" %}selected{% endif %}>
        emapr/v1/landcover/vote/1994
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1993" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1993" %}selected{% endif %}>
        emapr/v1/landcover/vote/1993
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1992" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1992" %}selected{% endif %}>
        emapr/v1/landcover/vote/1992
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1991" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1991" %}selected{% endif %}>
        emapr/v1/landcover/vote/1991
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1990" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1990" %}selected{% endif %}>
        emapr/v1/landcover/vote/1990
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1989" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1989" %}selected{% endif %}>
        emapr/v1/landcover/vote/1989
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1988" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1988" %}selected{% endif %}>
        emapr/v1/landcover/vote/1988
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1987" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1987" %}selected{% endif %}>
        emapr/v1/landcover/vote/1987
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1986" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1986" %}selected{% endif %}>
        emapr/v1/landcover/vote/1986
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1985" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1985" %}selected{% endif %}>
        emapr/v1/landcover/vote/1985
      </option>
      <option value="islay.ceoas.oregonstate.edu/v1/landcover/vote/1984" {% if
        landuse.nlcd_db=="islay.ceoas.oregonstate.edu/v1/landcover/vote/1984" %}selected{% endif %}>
        emapr/v1/landcover/vote/1984
      </option>
      {% endif %}
    </select>
  </div>
</div>

<div id="landuse_mode1_controls" class="form-group row hide-readonly">
  <div class="col-sm-5">
    <label for="landuse_single_selection">Select landuse:</label>
    <select class="form-control disable-readonly" id="landuse_single_selection">
      {% for opt in landuseoptions %}
      <option value="{{ opt['Key'] }}">{{ opt["Key"] }} &mdash; {{ opt["Description"] }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div id="landuse_mode2_controls" class="form-group row hide-readonly">
</div>
<div id="landuse_mode3_controls" class="form-group row hide-readonly">
</div>
<div id="landuse_mode4_controls" class="form-group row hide-readonly">
  <p>Upload a raster Landuse Map (.img or .tif). The map should be a thematic map with values cooresponding to the selected management map</p>
  <div class="form-group row hide-readonly">
      <div class="col-md-12">
          <input id="input_upload_landuse" name="input_upload_landuse" type="file" class="file">
      </div>
  </div>
  <div class="w-100"></div>
  <div class="form-group row hide-readonly">
    <div class="col-md-12">
      <label for="landuse_management_mapping_selection">Select management mapping:</label>
      <select class="form-control disable-readonly" name="landuse_management_mapping_selection" id="landuse_management_mapping_selection">
        {% for opt in landuse_management_mapping_options %}
        <option value="{{ opt['Key'] }}" {% if landuse.mapping == opt["Key"] %} selected {% endif %}>{{ opt["Key"] }} &mdash; {{ opt["Description"] }}</option>
        {% endfor %}
      </select>
      <p>See <a href="https://github.com/rogerlew/wepppy/tree/master/wepppy/wepp/management/data">here</a> for management mapping definitions</p>
    </div>
  </div>
</div>

<a href="#landuse_advanced_opts_con" data-toggle="collapse" class="" aria-expanded="true">Advanced Options</a>
<div id="landuse_advanced_opts_con" class="collapse">

  {% if wepp.multi_ofe %}
  <h5>Buffers</h5>
  <p></p>
  <div class="form-group row">
    <div class="col-sm-5">
      <label for="mofe_buffer_selection">Select landuse for buffer:</label>
      <select class="form-control disable-readonly" id="mofe_buffer_selection" name="mofe_buffer_selection">
        {% for opt in landuseoptions %}
        <option value="{{ opt['Key'] }}" {%if opt["key"]==(landuse.mofe_buffer_selection | int) %} selected{% endif %}>
          {{ opt["Key"] }} &mdash; {{ opt["Description"] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}
  {% if 'disturbed' in ron.mods %}
  <div class="form-group row">
      <div class="col-sm-5">
          <div style="margin-left:2em;"><input id="checkbox_burn_shrubs"
                  name="burn_shrubs" type="checkbox"
                  class="form-check-input disable-readonly"
                  {% if disturbed.burn_shrubs %}checked{% endif %}>
          </div>
          <label for="checkbox_burn_shrubs"
              style="margin-left:3em;">Burn Shrubs based on SBS</label>
      </div>
  </div>
  <div class="form-group row">
      <div class="col-sm-5">
          <div style="margin-left:2em;"><input id="checkbox_burn_grass"
                  name="burn_grass" type="checkbox"
                  class="form-check-input disable-readonly"
                  {% if disturbed.burn_grass %}checked{% endif %}>
          </div>
          <label for="checkbox_burn_grass"
              style="margin-left:3em;">Burn Grass based on SBS</label>
      </div>
  </div>
  {% endif %}

</div>
<div style="height:1em;"> </div>
<div class="form-group row hide-readonly">
  <div class="col-sm-4">
    <button 
      onclick="debounceButton('btn_build_landuse', 'build_landuse_lock', () => Landuse.getInstance().build())()"      
      id="btn_build_landuse" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">
      <img  id="build_landuse_lock" style="display:none;" src="{{ url_for('static', filename='open-iconic/png/lock-locked-2x.png') }}" />
      Build Landuse
    </button>
  </div>
  <div class="col-sm-5">
    <small id="hint_build_landuse"></small>
  </div>
</div>
{% endblock %}
