    <form  id="setloc_form" action="javascript:void(0);">
      <div class="form-group row">
        <div class="col-sm-5">
           <input id="input_centerloc" name="centerloc" class="form-control mr-sm-3" type="text" placeholder="Lon, Lat, [Zoom]" aria-label="Lon, Lat">
        </div>
        <div class="col-sm-2">
           <button id="btn_setloc" name="setloc" class="btn btn-outline-success my-2 my-sm-0" type="button">Go</button>
        </div>
        <!--
        <div class="col-sm-2">
           <button id="btn_currentloc" name="currentloc" class="btn btn-outline-success my-2 my-sm-0" type="button">My Location</button>
        </div>-->
      </div>
    </form>
    <div class="row">
      <div class="col-md-8 px-1">
        <div style="color: #666666;">Tip: Press F8 to navigate back to the map.</div>
        <div id="mapid"></div>
        <div class="row">
          <div class="col-xs-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div class="col-xs-6"><span id="mapstatus" class="text-muted"></span></div>
          <div class="col-xs-2"><span>&nbsp;</span><span id="mouseelev" class="text-muted"></span></div>
        </div>
      </div>
      <div class="col-md-4 px-1">
       <!-- Nav tabs -->
       <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#sub_layer_selection" role="tab">
              <img src="{{ url_for('static', filename='open-iconic/png/layers-2x.png') }}"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#drilldown" role="tab">
              <img src="{{ url_for('static', filename='open-iconic/png/magnifying-glass-2x.png') }}"/>
            </a>
          </li>
          {% if ron.enable_landuse_change %}
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#modify" role="tab">
              <img src="{{ url_for('static', filename='open-iconic/png/wrench-2x.png') }}"/>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#spatialclimate" role="tab">
            <img src="{{ url_for('static', filename='open-iconic/png/rain-2x.png') }}"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#results" role="tab">
              <img src="{{ url_for('static', filename='open-iconic/png/pie-chart-2x.png') }}"/>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="sub_layer_selection" role="tabpanel">
            <h6>Subcatchment Colormapping</h6>
            <div class="radio radio-primary">
                <input type="radio" name="sub_cmap_radio" id="sub_cmap_radio_default" value="default" checked>
                <label for="sub_cmap_radio1">
                    Default
                </label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" name="sub_cmap_radio" id="sub_cmap_radio_slp_asp" value="slp_asp" disabled>
                <label for="sub_cmap_radio2">
                    Slope/Aspect
                </label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" name="sub_cmap_radio" id="sub_cmap_radio_dom_lc" value="dom_lc" disabled>
                <label for="sub_cmap_radio2">
                    Dominant Landcover
                </label>
            </div>
            <div class="radio radio-primary">
                <input type="radio" name="sub_cmap_radio" id="sub_cmap_radio_dom_soil" value="dom_soil" disabled>
                <label for="sub_cmap_radio3">
                    Dominant Soil
                </label>
            </div><br/>
            <div id="sub_legend"></div>
          </div>
          <div class="tab-pane" id="drilldown" role="tabpanel">
            <i>Select a channel or hillslope to view information</i>
          </div>
          <div class="tab-pane" id="spatialclimate" role="tabpanel">
            <h6>Spatial Climate</h6>
          </div>
          {% if ron.enable_landuse_change %}
          <div class="tab-pane" id="modify" role="tabpanel">
              {% include 'controls/modify_landuse.htm' %}
          </div>
          {% endif %}
          <div class="tab-pane" id="results" role="tabpanel">
            <h6>WEPP Results</h6>
            <p><b><i>Hillslope Visualizations</i></b></p>
            <div class="radio radio-primary">
                <input type="radio" name="wepp_sub_cmap_radio" id="wepp_sub_cmap_radio_runoff" value="sub_runoff" >
                <label for="wepp_sub_cmap_radio_runoff">
                    Runoff
                </label>&nbsp;&nbsp;
                <input type="radio" name="wepp_sub_cmap_radio" id="wepp_sub_cmap_radio_subrunoff" value="sub_subrunoff" >
                <label for="wepp_sub_cmap_radio_subrunoff">
                    Subrunoff
                </label>&nbsp;&nbsp;
                <input type="radio" name="wepp_sub_cmap_radio" id="wepp_sub_cmap_radio_baseflow" value="sub_baseflow" >
                <label for="wepp_sub_cmap_radio_baseflow">
                    Baseflow
                </label>
                <br/>
                <input type="range" id="wepp_sub_cmap_range_runoff" min="0.0001" max="10" value="0.1" step="0.001">
                <span id="wepp_sub_cmap_canvas_runoff_units"></span><br/>
                <div style='width:240px;height:40px'>
                    <canvas id="wepp_sub_cmap_canvas_runoff" width=200 height=20
                            style='width:200px;height:20px;display:table;margin:0 auto;'></canvas>
                    <div class="row">
                        <div class="col-md-4"><span id="wepp_sub_cmap_canvas_runoff_min"></span></div>
                        <div class="col-md-4" style="text-align: center;"></div>
                        <div class="col-md-4" style="text-align: right;"><span id="wepp_sub_cmap_canvas_runoff_max"></span></div>
                    </div>
                </div>
            </div>
            <div class="radio radio-primary">
                <input type="radio" name="wepp_sub_cmap_radio" id="wepp_sub_cmap_radio_loss" value="sub_loss">
                <label for="wepp_sub_cmap_radio_loss">
                    Soil Deposition/Loss
                </label>
                <br/>
                <input type="range" id="wepp_sub_cmap_range_loss" min="0.0001" max="100000" value="0.5" step="0.01">
                <span id="wepp_sub_cmap_canvas_loss_units"></span><br/>
                <div style='width:240px;height:40px'>
                    <canvas id="wepp_sub_cmap_canvas_loss" width=200 height=20
                            style='width:200px;height:20px;display:table;margin:0 auto;'></canvas>
                    <div class="row">
                        <div class="col-md-4"><span id="wepp_sub_cmap_canvas_loss_min"></span></div>
                        <div class="col-md-4" style="text-align: center;">0</div>
                        <div class="col-md-4" style="text-align: right;"><span id="wepp_sub_cmap_canvas_loss_max"></span></div>
                    </div>
                </div>
            </div>
            <div class="radio radio-primary">
                <input type="radio" name="wepp_sub_cmap_radio" id="wepp_sub_cmap_radio_phosphorus" value="sub_phosphorus" >
                <label for="wepp_sub_cmap_radio_phosphorus">
                    Total Phosphorus
                </label>
                <br/>
                <input type="range" id="wepp_sub_cmap_range_phosphorus" min="0.0001" max="10" value="0.4" step="0.001">
                <span id="wepp_sub_cmap_canvas_phosphorus_units"></span><br/>
                <div style='width:240px;height:40px'>
                    <canvas id="wepp_sub_cmap_canvas_phosphorus" width=200 height=20
                            style='width:200px;height:20px;display:table;margin:0 auto;'></canvas>
                    <div class="row">
                        <div class="col-md-4"><span id="wepp_sub_cmap_canvas_phosphorus_min"></span></div>
                        <div class="col-md-4" style="text-align: center;"></div>
                        <div class="col-md-4" style="text-align: right;"><span id="wepp_sub_cmap_canvas_phosphorus_max"></span></div>
                    </div>
                </div>
            </div>
            <p style="padding-top: 1em;"><b><i>Gridded Visualizations</i></b></p>
            <div class="radio radio-primary">
                <input type="radio" name="wepp_sub_cmap_radio" id="wepp_grd_cmap_radio_loss" value="grd_loss" >
                <label for="wepp_grd_cmap_radio_loss">
                    Soil Deposition/Loss
                </label>
                <br/>
                <input type="range" id="wepp_grd_cmap_range_loss" min="0.0001" max="40" value="2" step="0.01">
                <span id="wepp_grd_cmap_range_loss_units"></span><br/>
                <div style='width:240px;height:40px'>
                    <canvas id="wepp_grd_cmap_canvas_loss" width=200 height=20
                            style='width:200px;height:20px;display:table;margin:0 auto;'></canvas>
                    <div class="row">
                        <div class="col-md-4"><span id="wepp_grd_cmap_range_loss_min"></span></div>
                        <div class="col-md-4" style="text-align: center;">0</div>
                        <div class="col-md-4" style="text-align: right;"><span id="wepp_grd_cmap_range_loss_max"></span></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>