{% extends "controls/_base.htm" %}
{% block form_id %}rap_ts_form{% endblock %}
{% block form_title %}RAP Time Series Acquisition{% endblock %}
{% block inputs %}

    <div style="height:1em;"> </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_build_rap_ts"
            class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
            type="button"
            data-rap-action="run">Acquire RAP Data</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_rap_ts"></small>
        </div>
    </div>
    {% set _rap_schedule = rap_schedule | default([], true) %}
    <script type="application/json" id="rap_ts_schedule_data" data-rap-schedule>{{ _rap_schedule | tojson }}</script>
{% endblock %}
