{% extends "controls/_base.htm" %}
{% block form_id %}rhem_form{% endblock %}
{% block form_title %}RHEM{% endblock %}
{% block inputs %}
<div style="height:1em;"> </div>
<div class="form-group row hide-readonly">
    <div class="col-sm-4">
        <button id="btn_run_rhem"
            onclick="lockButton('btn_build_subcatchments', 'build_subcatchments_lock'); Rhem.getInstance().run();"
            class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">
            Run RHEM
        </button>
    </div>
    <div class="col-sm-5">
        <small id="hint_run_rhem"></small>
    </div>
</div>
{% endblock %}
