{% extends "controls/_base.htm" %}
{% block form_id %}road_upload_form{% endblock %}
{% block form_title %}Upload Road Network {% if 'disturbed' in ron.mods %}(Optional){% endif %}{% endblock %}
{% block inputs %}
    <p>Upload a vector network map (.geojson).</p>
    <div class="form-group row hide-readonly">
        <div class="col-md-6">
            <input id="input_upload_road" name="input_upload_road" type="file" class="file">
        </div>
    </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_upload_road" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Upload Road</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_upload_road"></small>
        </div>
    </div>
    
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_remove_road" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Remove Road</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_remove_road"></small>
        </div>
    </div>
{% endblock %}
