{# Doc: controllers_js/README.md — Outlet Controller Reference (2025 helper migration) #}
{% extends "controls/_base.htm" %}
{% block form_id %}set_outlet_form{% endblock %}
{% block form_title %}Outlet{% endblock %}
{% block inputs %}
  <div class="hide-readonly">
    <div class="form-group row">
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" value="0" name="set_outlet_mode" checked
                  onchange="Outlet.getInstance().handleModeChange(this.value)"> Use Cursor</label>
        </div>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" value="1"  name="set_outlet_mode"
                  onchange="Outlet.getInstance().handleModeChange(this.value)"> Specify Lon/Lat</label>
        </div>
    </div>
    <div id="set_outlet_mode1_controls" class="form-group row">
        <div class="col-sm-5">
            <input id="input_set_outlet_entry" name="set_outlet" class="form-control mr-sm-3" type="text" placeholder="Lon, Lat" aria-label="Lon, Lat">
        </div>
        <div class="col-sm-3">
            <button id="btn_set_outlet_entry" name="setloc" class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
              type="button" onclick="Outlet.getInstance().handleEntrySubmit()">Specify Lon/Lat</button>
        </div>
    </div>
    <div id="set_outlet_mode0_controls" class="form-group row">
        <div class="col-sm-4">
            <button id="btn_set_outlet_cursor" name="setloc" class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
              type="button" onclick="Outlet.getInstance().handleCursorToggle()">
              Use Cursor (Don't Select a Confluence)
            </button>
        </div>
        <div class="col-sm-5">
            <small id="set_outlet_cursor_hint" class="text-muted d-block"></small>
            <small id="hint_set_outlet_cursor"></small>
        </div>
    </div>
  </div>
{% endblock %}
