{% extends "controls/_base.htm" %}
{% block form_id %}setoutlet_form{% endblock %}
{% block form_title %}Outlet{% endblock %}
{% block inputs %}
  <div class="hide-readonly">
    <div class="form-group row">
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" value="0" name="setoutlet_mode" checked> Use Cursor</label>
        </div>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" value="1"  name="setoutlet_mode"> Specify Lon/Lat</label>
        </div>
    </div>
    <div id="setoutlet_mode1_controls" class="form-group row">
        <div class="col-sm-5">
            <input id="input_setoutlet_entry" name="setoutlet" class="form-control mr-sm-3" type="text" placeholder="Lon, Lat" aria-label="Lon, Lat">
        </div>
        <div class="col-sm-3">
            <button id="btn_setoutlet_entry" name="setloc" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Specify Lon/Lat</button>
        </div>
    </div>
    <div id="setoutlet_mode0_controls" class="form-group row">
        <div class="col-sm-4">
            <button id="btn_setoutlet_cursor" name="setloc" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">Use Cursor (Don't Select a Confluence)</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_setoutlet_cursor"></small>
        </div>
    </div>
  </div>
{% endblock %}