{% extends "controls/_base.htm" %}
{% block form_id %}soil_form{% endblock %}
{% block form_title %}Soil Options{% endblock %}
{% block inputs %}
    <div class="form-group row">
        <div class="col-sm-12">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="soil_mode0" name="soil_mode"> Determine Per Hillslope</label>
        </div>
        <div class="col-sm-12">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="soil_mode1" name="soil_mode"> Single Soil for Watershed (MUKEY)</label>
        </div>
        <div class="col-sm-12">
            <label class="radio-inline">
            <input type="radio" value="2" class="disable-readonly" id="soil_mode2" name="soil_mode"> Single Soil for Watershed (Database)</label>
        </div>
        {% if 'rred' in ron.mods %}
            <div class="d-none">
                <div class="d-none">
                    <label class="radio-inline">
                    <input type="radio" value="3" class="disable-readonly" id="soil_mode3" name="soil_mode"> RRED Unburned</label>
                </div>
                <div class="d-none">
                    <label class="radio-inline">
                    <input type="radio" value="4" class="disable-readonly" id="soil_mode4" name="soil_mode"> RRED Burned</label>
                </div>
            </div>
        {% endif %}
    </div>
    <div id="soil_mode0_controls" class="form-group row">
        <div class="col-sm-5">
            <label for="initial_sat">Initial Soil Saturation (fraction; used for single storm climates only): </label>
        </div>
        <div class="col-sm-3">
            <input id="initial_sat" name="initial_sat" class="form-control mr-sm-3" type="text"
             value="{{ soils.initial_sat }}" aria-label="Soils Initial ksat">
        </div>
    </div>
    <div id="soil_mode1_controls" class="form-group row">
        <div class="col-sm-5">
            <label for="soil_single_selection">Mukey for single soil:</label>
            <input type="text" class="form-control disable-readonly" id="soil_single_selection" value="{{ soils.single_selection }}"/>
        </div>
    </div>
    <div id="soil_mode2_controls" class="form-group row">
        <div class="col-sm-5">
            <label for="soil_single_dbselection">Select soil:</label>
            <select class="form-control disable-readonly" id="soil_single_dbselection">
                {% for opt in soildboptions %}
                <option value="{{ opt }}">{{ opt }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="soil_mode3_controls" class="form-group row">
    </div>
    <div id="soil_mode4_controls" class="form-group row">
    </div>
    {% if "lt" in ron.mods or "baer" in ron.mods or "disturbed" in ron.mods %}
    <div>
    <p><i>Hillslopes with burn severity landuses will have soils altered to model burn severity.</i></p>
    </div>
    {% endif %}

    <div><a href="#sol_advanced_opts_con" data-toggle="collapse">Advanced Options</a>
        <div id="sol_advanced_opts_con" style="padding-left: 2em;" class="collapse">

<h5>Use internal hydraulic conductivity adjustments (ksflag)</h5>
<p>Does not affect 9001 and 9002 soils</p>
<div style="padding-left:3em;">
<label class="form-check-label">
    <input id="checkbox_run_flowpaths" type="checkbox" class="form-check-input disable-readonly"
      onchange="Soil.getInstance().set_ksflag(this.checked);"
      {% if soils.ksflag %}checked{% endif %}>
    ksflag
</label>
</div>
            <br/><br/>

{% if 'disturbed' in ron.mods%}
<h5>Specify un/disturbed soil version (sol_ver)</h5>
<div style="padding-left:3em;">
        <div class="col-sm-5">
            <label for="sol_ver">sol_ver</label>
        </div>
        <div>9002.0 soils fix wepp model surface runoff and sediment yield predictions for areas with high burn severity.</div>
        <div class="col-sm-3">
           <select class="form-control disable-readonly" 
             id="sol_ver" name="sol_ver">
             <option value="7778.0" {% if disturbed.sol_ver == 7778.0 %} selected {% endif %}>7778.0</option>
             <option value="9002.0" {% if disturbed.sol_ver == 9002.0 %} selected {% endif %}>9002.0</option>
           </select>     
        </div>
</div>
            <br/><br/>
{% endif %}
        </div>
    </div>

    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_build_soil"
              class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
              type="button">Build Soils</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_soil"></small>
        </div>
    </div>
{% endblock %}
