{% extends "controls/_base.htm" %}
{% block form_id %}soil_form{% endblock %}
{% block form_title %}Soil Options{% endblock %}
{% block inputs %}
    <div class="form-group row">
        <div class="col-sm-4">
            <label class="radio-inline">
            <input type="radio" value="0" class="disable-readonly" id="soil_mode0" name="soil_mode"> Determine Per Hillslope</label>
        </div>
        <div class="col-sm-6">
            <label class="radio-inline">
            <input type="radio" value="1" class="disable-readonly" id="soil_mode1" name="soil_mode"> Single Soil for Watershed</label>
        </div>
    </div>
    <div id="soil_mode0_controls" class="form-group row">
    </div>
    <div id="soil_mode1_controls" class="form-group row">
        <div class="col-sm-5">
            <label for="soil_single_selection">Mukey for single soil:</label>
            <input type="text" class="form-control disable-readonly" id="soil_single_selection" value="{{ soils.single_selection }}"/>
        </div>
    </div>
    {% if "lt" in ron.mods or "baer" in ron.mods %}
    <div>
    <p><i>Hillslopes with burn severity landuses will have soils altered to model burn severity.</i></p>
    </div>
    {%- endif -%}
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_build_soil"
              class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
              type="button">Build Soils</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_soil"></small>
        </div>
    </div>
{% endblock %}