{% extends "controls/_base.htm" %}
{% block form_id %}build_subcatchments_form{% endblock %}
{% block form_title %}Subcatchments Delineation{% endblock %}
{% block inputs %}
    <div style="height:150px;" class="unitizer-wrapper">

        <div class="unitizer units-m">
            {% if watershed.delineation_backend_is_topaz %}
            <input type="hidden" id="input_pkcsa" value="-1" name="pkcsa" />
            {% else %}
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="input_pkcsa">Peuker Douglas CSA (ha)</label>
                </div>
                <div class="col-sm-3">
                    <input id="input_pkcsa" name="pkcsa" class="form-control mr-sm-3 disable-readonly" type="text" value="{{ watershed.pkcsa }}" aria-label="Lon, Lat">
                </div>
            </div>
            {% endif %}
            <div class="form-group row hide-readonly">
                <div class="col-sm-4">
                    <button id="btn_build_subcatchments"
                    class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
                    type="button">Build Subcatchments</button>
                </div>
                <div class="col-sm-5">
                    <small id="hint_build_subcatchments"></small>
                </div>
            </div>
        </div>
        <div class="unitizer units-ft">
            {% if watershed.delineation_backend_is_topaz %}
            <input type="hidden" id="input_pkcsa_en" value="-1" name="pkcsa_en" />
            {% else %}
            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="input_pkcsa_en">Peuker Douglas CSA (acre)</label>
                </div>
                <div class="col-sm-3">
                    <input id="input_pkcsa_en" name="pkcsa_en" class="form-control mr-sm-3 disable-readonly" type="text"
                           value="{% if isfloat(watershed.pkcsa) %}{{ watershed.pkcsa * 3.28084 }}{% else %}{{ watershed.pkcsa }}{% endif %}" aria-label="Lon, Lat">
                </div>
            </div>
            {% endif %}
            <div class="form-group row hide-readonly">
                <div class="col-sm-4">
                    <button id="btn_build_subcatchments_en"
                    class="btn btn-outline-success my-2 my-sm-0 col-sm-12"
                    type="button">Build Subcatchments</button>
                </div>
                <div class="col-sm-5">
                    <small id="hint_build_subcatchments_en"></small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}