{% extends "controls/_base.htm" %}
{% block form_id %}build_subcatchments_form{% endblock %}
{% block form_title %}Subcatchments Delineation{% endblock %}
{% block inputs %}
    <div class="form-group row">
        <div class="col-sm-4">
            <button id="btn_build_subcatchments" 
            class="btn btn-outline-success my-2 my-sm-0 col-sm-12" 
            type="button">Build Subcatchments</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_build_subcatchments"></small>
        </div>
    </div>
{% endblock %}