{% extends "controls/_base.htm" %}
{% block form_id %}team_form{% endblock %}
{% block form_title %}Project Collaborators{% endblock %}
{% block inputs %}
    <p>Projects created by registered users are private by default. Projects can be shared with other
    WEPPcloud users by adding them as collaborators to a project. Projects can be made publically viewable
    by clicking the public checkbox at the top of the screen. Public projects are viewable to anyone with the
    project URL. Project owners can set projects readonly to prevent other users from changing the project.</p>
    <div class="form-group row hide-readonly">
        <div class="col-sm-3">
            <label for="adduser-email">Add Collaborator to Project</label>
        </div>
        <div class="col-sm-5">
            <input id="adduser-email" name="adduser-email" class="form-control mr-sm-3"
                   type="text" placeholder="e-mail" aria-label="email">
        </div>
        <div class="col-sm-2">
            <button id="btn_adduser" class="btn btn-outline-success" type="button">Add User</button>
        </div>
    </div>
{% endblock %}