{% extends "controls/_base.htm" %}
{% block form_id %}treatmentsform{% endblock %}
{% block form_title %}Treatments{% endblock %}
{% block inputs %}
<h5>Application of Treatments is Optional</h5>
<p>Treatments are applied to the current landuse and burn severity conditions.</p>
<div class="form-group row">
  <div class="col-sm-3">
    <label class="radio-inline"><input type="radio" class="disable-readonly" value="1" id="treatments_mode1"
        name="treatments_mode"> Specify Hillslopes</label>
  </div>
  <div class="col-sm-3">
    <label class="radio-inline"><input type="radio" class="disable-readonly" value="4" id="treatments_mode4"
        name="treatments_mode"> Upload Landcover Map</label>
  </div>
</div>

<div id="treatments_mode1_controls" class="form-group row hide-readonly">
  <div class="col-sm-5">
    <label for="treatmentssingle_selection0">Select treatment:</label>
    <select class="form-control disable-readonly" id="treatmentssingle_selection0">
      {% for opt in treatmentoptions %}
      <option value="{{ opt['Key'] }}">{{ opt["Key"] }} &mdash; {{ opt["Description"] }}</option>
      {% endfor %}
    </select>
    <input type="text" >
  </div>
</div>
<div id="treatments_mode4_controls" class="form-group row hide-readonly">
  <p>Upload a raster Treatment Map (.img or .tif). The map should be a thematic map with values cooresponding to the management map</p>
  <div class="form-group row hide-readonly">
      <div class="col-md-12">
          <input id="input_upload_landuse" name="input_upload_landuse" type="file" class="file">
      </div>
  </div>
  <div class="w-100"></div>
  <div class="form-group row hide-readonly">
    <div class="col-md-12">
     <h5>Treatments</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Class Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for disturbed_class, class_value in treatments.treatments_lookup.items() %}
            <tr>
                <td>{{ class_value }}</td>
                <td>{{ disturbed_class }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="small">These values can be used in your treatment raster map.</p>
    </div>
  </div>
</div>

<a href="#treatmentsadvanced_opts_con" data-toggle="collapse" class="" aria-expanded="true">Advanced Options</a>
<div id="treatmentsadvanced_opts_con" class="collapse">
  <div><i>no advanced options currently available</i></div>
</div>
<div style="height:1em;"> </div>
<div class="form-group row hide-readonly">
  <div class="col-sm-4">
    <button 
      onclick="lockButton('btn_build_treatments', 'build_treatments_lock'); Treatments.getInstance().build();"      
      id="btn_build_treatments" class="btn btn-outline-success my-2 my-sm-0 col-sm-12" type="button">
      <img  id="build_treatments_lock" style="display:none;" src="{{ url_for('static', filename='open-iconic/png/lock-locked-2x.png') }}" />
      Build Landuse<!--this hits rq endpoint-->
    </button>
  </div>
  <div class="col-sm-5">
    <small id="hint_build_treatments"></small>
  </div>
</div>
{% endblock %}
