{% extends "controls/_base.htm" %}
{% block form_id %}wepp_form{% endblock %}
{% block form_title %}WEPP{% endblock %}
{% block inputs %}
    <div><a href="#advanced_opts_con" data-toggle="collapse">Advanced Options</a>
        <div id="advanced_opts_con" style="padding-left: 2em;" class="collapse">
            For more information on the advanced processing options see the 
            <a href="https://doc.wepp.cloud/QuickStart.htm#wepp-advanced-options">documentation</a>
            <br/>
            {% include("controls/wepp_advanced_options/wepp_ui.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/pmet.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/frost.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/snow.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/baseflow.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/channels.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/bedrock.htm") %}
            {% if "revegetation" in ron.mods %}
                <br/>
                {% include("controls/wepp_advanced_options/revegetation.htm") %}
            {% endif %}
            <br/>
            {% include("controls/wepp_advanced_options/clip_soils_depth.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/phosphorus.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/wepp_bin.htm") %}
            <br/>
            {% include("controls/wepp_advanced_options/prep_details.htm") %}
            <br/>
            <br/><br/>
        </div>
    </div>
    <br/>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_run_wepp"
              onclick="Wepp.getInstance().run()" 
              class="btn btn-outline-success my-2 my-sm-0 col-sm-12" 
              type="button">Run WEPP</button>
        </div>
        <div class="col-sm-4">
            <small id="hint_run_wepp"></small>
        </div>
    </div>
{% endblock %}
