{% extends "controls/_base.htm" %}
{% block form_id %}wepp_form{% endblock %}
{% block form_title %}Wepp{% endblock %}
{% block inputs %}
    <h5>Flowpath Processing</h5>
    <p>Running flowpaths produces a gridded soil deposition/loss map, but runtime is considerable longer.</p>
    <label class="form-check-label">
        <input id="checkbox_run_flowpaths" type="checkbox" class="form-check-input disable-readonly"
               onchange="Wepp.getInstance().set_flowpaths(this.checked);"
               {% if wepp.run_flowpaths %}checked{% endif %}>
        Run Flowpaths
    </label>
    <br/><br/>
    <h5>Baseflow Processing</h5>
    <div class="form-group row" id="gwstorage_container">
        <div class="col-sm-4">
            <label for="gwstorage">Initial groundwater storage (mm): </label>
        </div>
        <div class="col-sm-4">
            <input id="gwstorage" name="gwstorage" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.baseflow_opts.gwstorage }}" aria-label="Initial groundwater storage">
        </div>
    </div>
    <div class="form-group row" id="bfcoeff_container">
        <div class="col-sm-4">
            <label for="bfcoeff">Baseflow coefficient (per day): </label>
        </div>
        <div class="col-sm-4">
            <input id="bfcoeff" name="bfcoeff" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.baseflow_opts.bfcoeff }}" aria-label="Baseflow coefficient">
        </div>
    </div>
    <div class="form-group row" id="dscoeff_container">
        <div class="col-sm-4">
            <label for="dscoeff">Deep seepage coefficient (per day): </label>
        </div>
        <div class="col-sm-4">
            <input id="dscoeff" name="dscoeff" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.baseflow_opts.dscoeff }}" aria-label="Deep seepage coefficient">
        </div>
    </div>
    <div class="form-group row" id="bfthreshold_container">
        <div class="col-sm-4">
            <label for="bfthreshold">Watershed groundwater baseflow threshold area (ha): </label>
        </div>
        <div class="col-sm-4">
            <input id="bfthreshold" name="bfthreshold" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.baseflow_opts.bfthreshold }}" aria-label="Watershed groundwater baseflow threshold area">
        </div>
    </div>

    {% if "lt" in ron.mods %}
    <h5>Phosphorus Processing</h5>
    <p><i>Phosphorus coefficients determined by lt mod</i></p>
    {% else %}
    <h5>Pollutant Processing (Optional)</h5>
    {%- endif -%}
    <div class="form-group row" id="surf_runoff_container">
        <div class="col-sm-4">
            <label for="surf_runoff">Surface runoff concentration (mg/l): </label>
        </div>
        <div class="col-sm-4">
            <input id="surf_runoff" name="surf_runoff" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.phosphorus_opts.surf_runoff }}" aria-label="Surface runoff concentration">
        </div>
    </div>
    <div class="form-group row" id="lateral_flow_container">
        <div class="col-sm-4">
            <label for="lateral_flow">Subsurface lateral flow concentration (mg/l): </label>
        </div>
        <div class="col-sm-4">
            <input id="lateral_flow" name="lateral_flow" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.phosphorus_opts.lateral_flow }}" aria-label="Subsurface lateral flow concentration">
        </div>
    </div>
    <div class="form-group row" id="baseflow_container">
        <div class="col-sm-4">
            <label for="baseflow">Baseflow concentration (mg/l): </label>
        </div>
        <div class="col-sm-4">
            <input id="baseflow" name="baseflow" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.phosphorus_opts.baseflow }}" aria-label="Baseflow concentration">
        </div>
    </div>
    <div class="form-group row" id="sediment_container">
        <div class="col-sm-4">
            <label for="sediment">Sediment concentration (mg/kg): </label>
        </div>
        <div class="col-sm-4">
            <input id="sediment" name="sediment" class="form-control mr-sm-3 disable-readonly" type="text"
            value="{{ wepp.phosphorus_opts.sediment }}" aria-label="Sediment concentration">
        </div>
    </div>
    <div class="form-group row hide-readonly">
        <div class="col-sm-4">
            <button id="btn_run_wepp" 
              class="btn btn-outline-success my-2 my-sm-0 col-sm-12" 
              type="button">Run Wepp</button>
        </div>
        <div class="col-sm-5">
            <small id="hint_run_wepp"></small>
        </div>
    </div>
{% endblock %}