<div class="form-group row">
    <h3>Run Reports</h3>
</div>
{% if climate.is_single_storm %}
<div>
    <h4>WEPP Results</h4>
    <p><a href="browse/wepp/output/" target="_blank">View WEPP Outputs Directory</a></p>
</div>
{% else %}
<div>
    <h4>WEPP Results</h4>
    <p><a href="report/wepp/summary/" target="_blank">Watershed Loss Summary</a></p>
    <p><a href="report/wepp/return_periods/" target="_blank">Return Periods Report</a></p>
    <p><a href="report/wepp/frq_flood/" target="_blank">Flooding Frequency Report</a></p>
    <p><a href="report/wepp/sediment_delivery/" target="_blank">Sediment Delivery Report</a></p>
    <p><a href="browse/wepp/runs/status.log/" target="_blank">Run Log</a></p>
</div>
<div>
    <h4>Water Balance Reports</h4>
    <p><a href="report/wepp/avg_annual_watbal/" target="_blank">Average Annual Report</a></p>
    <p><a href="report/wepp/yearly_watbal/" target="_blank">Yearly Report</a></p>
    <p><a href="plot/wepp/streamflow/" target="_blank">Daily Runoff/Lateral Flow/Baseflow Graph</a></p>
</div>
{% endif %}
<hr/>