<nav id="toc" class="fixed-top" style="width:320px; margin-top: 60px;">
<ul class="nav navbar-nav">
  <li>
    <a class="nav-link" href="#map">Map
    </a>
  </li>
  <li>
    <a class="nav-link" href="#upload-soil-burn-severity-map-optional">Upload Soil Burn Severity Map (Optional)
    </a>
  </li>
  <li>
    <a class="nav-link" href="#channel-delineation">Channel Delineation
    </a>
  </li>
  <li>
    <a class="nav-link" href="#outlet">Outlet
    </a>
  </li>
  <li>
    <a class="nav-link" href="#subcatchments-delineation">Subcatchments Delineation
    </a>
  </li>
  <li>
    <a class="nav-link" href="#landuse-options">Landuse Options
    </a>
  </li>
  <li>
    <a class="nav-link" href="#soil-options">Soil Options
    </a>
  </li>
  <li>
    <a class="nav-link" href="#climate-options">Climate Options
    </a>
  </li>
  <li>
    <a class="nav-link" href="#preparation-check">Preparation Check
    </a>
  </li>
  <li>
    <a class="nav-link" href="#wepp">WEPP
    </a>
  </li>
  <li>
    <a class="nav-link active" href="#wildfire-ash-transport-and-risk-watar">Wildfire Ash Transport And Risk (WATAR)
    </a>
  </li>
  <li>
    <a class="nav-link" href="#export">Export
    </a>
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link" href="#zip-archive">Zip Archive
        </a>
      </li>
      <li>
        <a class="nav-link" href="#daily-waterbalance-report">Daily Waterbalance Report
        </a>
      </li>
      <li>
        <a class="nav-link" href="#arcmap-resources">Arcmap Resources
        </a>
      </li>
      <li>
        <a class="nav-link" href="#watershed-preparation-details">Watershed Preparation Details
        </a>
      </li>
      <li>
        <a class="nav-link" href="#ermit">ERMiT
        </a>
      </li>
    </ul>
  </li>
</ul>
</nav>
