<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/weppcloud">WeppCloud  {{ ('&mdash;' if ron.configname != '') | safe }} {{ ron.configname }} </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <form class="form-inline my-2 my-lg-0" id="setname_form" action="javascript:void(0);" >
      <input class="form-control mr-sm-2 disable-readonly" id="input_name" name="name" type="text" placeholder="Untitled Project"
       value="{{ ron.name }}" aria-label="Name">
      <button class="btn btn-outline-success my-2 my-sm-0 hide-readonly" id="btn_setname" name="setname" type="button">
        Set Name
      </button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a href='create_fork' class="nav-link" target="_blank"><span class="oi oi-fork" title="Fork this project"></span></a>
      </li>
      <li class="nav-item">
        <a href='archive' class="nav-link" target="_blank"><span class="oi oi-cloud-download" title="Download this project"></span></a>
      </li>
    </ul>
    <button class="btn btn-link" type="button" id="btnPuModal"
            data-toggle="modal" data-target="#puModal"
            title="up up down down left right left right b a">
        <span class="oi oi-command"></span>
    </button>
    <button class="btn btn-link" type="button"
            data-toggle="modal" data-target="#unitizerModal">
        <span class="oi oi-cog"></span>
    </button>
    {% if user.is_authenticated %}
    <label class="form-check-label">
      <input id="checkbox_readonly" type="checkbox" class="form-check-input"
             onchange="Project.getInstance().set_readonly(this.checked);"
               {% if ron.readonly %}checked{% endif %}>
        <span style="color: white;">Readonly</span>
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="form-check-label">
      <input id="checkbox_public" type="checkbox" class="form-check-input"
             onchange="Project.getInstance().set_public(this.checked);"
               {% if ron.public %}checked{% endif %}>
        <span style="color: white;">Public</span>
    </label>
    &nbsp;&nbsp;
    {% include "user/navbar.html" %}
    {% endif %}
    </div>
  </nav>
</header>
