<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WEPPcloud</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon2.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon2.ico') }}" type="image/x-icon">
  </head>
  <body>
  <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ site_prefix }}">WEPPcloud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      </li>
      {% if user.is_anonymous %}
      <li><a class="nav-link" href="login">Login</a></li>
      <li><a class="nav-link" href="register">Register</a></li>
      {% else %}
      <li><a class="nav-link" href="runs">My Runs</a></li>
      <li><a class="nav-link" href="profile">Profile</a></li>
      <li><a class="nav-link" href="logout">Logout</a></li>
      {% if current_user.has_role('Root') %}
      <li><a class="nav-link" href="usermod">Usermod</a></li>
      {% endif %}
      {% endif %}
    </ul>
    <button class="btn btn-link" type="button" id="btnPuModal"
            data-toggle="modal" data-target="#puModal"
            title="up up down down left right left right b a">
        <img src="{{ url_for('static', filename='open-iconic/png/command-2x-wh.png') }}"/>
    </button>
    </div>
  </nav>
</header>
    <div role="main" class="container">
      <div style="height: 60px;"></div>
      <div style="height: 2em;"></div>
      <div class="jumbotron row">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/disturbed.png') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div id="pep" class="col-lg-8">
          <h1>WEPPcloud-(Un)Disturbed for United States</h1>
          <p>The WEPPcloud-Disturbed allows users to upload a burn severity map and predict erosion
             based on fire severity. Optionally, the user can forgo uploading a burn severity map to model unburned
             conditions. It uses SSURGO to create 7778 soils and NLCD to parameterize landuse for unburned
             conditions. For fire and treatment conditions soils and managements are procedurally generated and
             parameterized from the disturbed database based on soil texture and landuse. This allowing forests,
             shrubs, and grass to be burned based on landuse. The parameterization is intended to provide meaningful
             comparisons between unburned, burned, and treatment conditions. In the long-term disturbed is envisioned
             to replace the WEPPcloud-PEP interface.<br>
             This interface also incorporates the Wildfire Ash Transport And  Risk estimation tool (WATAR).
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="create/disturbed9002" role="button">Start Disturbed Run</a>
            <p>{{ runs_counter['disturbed_projects'] }} projects and {{ commafy(runs_counter['disturbed_hillruns']) }} hillslopes ({{ commafy(runs_counter['disturbed_ash_hillruns'])}} WATAR hillslopes) ran since January 1, 2022</p>
          </p>
        </div>
      </div>
      <div style="height: 2em;"></div>


      <div style="height: 2em;"></div>
      <div class="jumbotron row">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/europe.png') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div id="pep" class="col-lg-8">
          <h1>WEPPcloud-EU</h1>
          <p>WEPPcloud for Europe.</p>
          <p>Managements are assigned based on ESDAC landuses. Soils are built from ESDAC and EU-SoilHydroGrids data.
              U.S. climate stations are selected based on E-OBS monthly precip and temperatures.
          </p>
          <p>The PeP interfaces provide post fire erosion modeling and ash transport modeling. Parameterizes soils based
             on burn severity and soil texture using Disturbed WEPP soil files. 
             The PeP interface incorporates the Wildfire Ash Transport And  Risk estimation tool (WATAR).
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="create/eu-disturbed" role="button">Start EU WEPPcloud-Disturbed Run</a><br><br>
            <!--a class="btn btn-primary" href="create/eu-fire" role="button">PeP Method 1 (Experimental)</a><br><br-->
            <!--a class="btn btn-primary" href="create/eu-fire2" role="button">EU WEPPcloud-PeP w/ WATAR</a-->
            <p>{{ runs_counter['eu_projects'] }} EU projects and {{ commafy(runs_counter['eu_hillruns']) }} hillslopes ran since January 1, 2022</p>
            <!--p>{{ runs_counter['eu-fire_projects'] }} PeP Method 1 projects and {{ commafy(runs_counter['eu-fire_hillruns']) }} PeP Method 1 hillslopes ran since January 1, 2020</p-->
            <p>{{ runs_counter['eu-fire2_projects'] }} EU PeP&#47;WATAR projects and {{ commafy(runs_counter['eu-fire2_hillruns']) }} hillslopes ({{ commafy(runs_counter['eu-fire2_ash_hillruns'])}} WATAR hillslopes) ran since January 1, 2022</p>
          </p>
        </div>
      </div>
      <div style="height: 2em;"></div>
      <div class="jumbotron row">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/australia200.png') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div id="pep" class="col-lg-8">
          <h1>WEPPcloud-AU</h1>
          <p>WEPPcloud for Australia.</p>
          <p>Managements are assigned based on  Land Use of Australia 2010-11. Soils are built from ASRIS soil data.
              U.S. climate stations are selected based on AGDC monthly precip and temperatures.
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="create/au-disturbed" role="button">Start AU-Disturbed WEPPcloud Run w/ WATAR (Experimental)</a><br><br>
            <p>{{ runs_counter['au_projects'] }} AU projects and {{ commafy(runs_counter['au_hillruns']) }} hillslopes ran since January 1, 2022</p>
            <p>{{ runs_counter['au-fire_projects'] }} AU PeP&#47;WATAR projects and {{ commafy(runs_counter['au-fire_hillruns']) }} hillslopes ({{ commafy(runs_counter['au-fire_ash_hillruns'])}} WATAR hillslopes) ran since January 1, 2022</p>
          </p>
        </div>
      </div>
      <div style="height: 2em;"></div>
      <div class="jumbotron row">
        <div class="col-lg-3">
      <div style="height: 53px;"></div>
            <img src="{{  url_for('static', filename='images/interfaces/rhem.png') }}" height="44" width="150" style="width: 150px; height: 44px;" />
        </div>
        <div id="pep" class="col-lg-8">
          <h1>WEPPcloud-RHEM</h1>
          <p>Run the Rangeland Hydrology and Erosion Model (RHEM) over the US.</p>
          <p>Where available foliar and ground covers are estimated from NLCD Shrubland 2016 data.
          </p>
          <p>SURGO/STATSGO is used to identify soil textures
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="create/rhem" role="button">Start RHEM Run (Experimental)</a><br><br>
            <p>{{ runs_counter['rhem_projects'] }} RHEM projects and {{ commafy(runs_counter['rhem_hillruns']) }} RHEM hillslopes ran since January 1, 2022</p>
          </p>
        </div>
      </div>
      <div style="height: 2em;"></div>
      <h1>Site Specific Resources</h1>
      <div class="jumbotron row" style="padding: 2rem 2rem;">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/lt.jpg') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div class="col-lg-8">
          <h3>Lake Tahoe</h3>
          <p>The Lake Tahoe Project incorporates region specific soil, phosphorus, and estimated soil burn severity.
          </p>
          <p>
            <a class="btn btn-primary" href="lt" role="button">View Results and Run WEPP</a>
          </p>
        </div>
      </div>

      <div class="jumbotron row" style="padding: 2rem 2rem;">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/widlfire_credit_NOAA_DanBorsum.jpg') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div class="col-lg-8">
          <h3>Hazards and Disasters (Hazard SEES) - FireEarth Project</h3>
          <p>Data portals related to the Hazard SEES - FireEarth Project
          </p>
          <p>
            {% if current_user.has_role('PortlandGroup') %}
            <a class="btn btn-primary" href="portland-municipal" role="button">Portland Municipal Watersheds</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}

            <a class="btn btn-primary" href="seattle-municipal" role="button">Seattle Municipal Watersheds</a>
          </p>
        </div>
      </div>
      <div style="height: 2em;"></div>


      <h1>Legacy Interfaces</h1>
      <div class="jumbotron row">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/0.jpg') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div class="col-lg-8">
          <h3>WEPPcloud</h3>
            <p>Run WEPP anywhere in the continental U.S.</p>
            <p>
             Legacy interface. From 2021 we recommend users to switch to WEPPcloud-US instead of WEPP-PEP. WEPP-PEP is 
             limited to four general soils based on textures. WEPPcloud-Disturbed incorporates spatial variability in soils 
             from SSURGO/STATSGO data bases. A full comparison between the two interfaces has not been made, however, 
             WEPPcloud-US for undisturbed conditions has been successfully validated in multiple watersheds in Western US.
             Elevation data is from the USGS National Elevation Set.
             This interface uses TOPAZ for watershed delineation. The soils are built using SURGO/STATSGO. Landcover is
             selected based on the USGS National Landcover dataset. Climates are generated from the CLIGEN database.
          </p>
          <p><b>This interface has been deprecated. For new projects run (Un)Disturbed without a burn severity map.</b></p>
          <p>
            <a class="btn btn-primary btn-lg" href="create/0" role="button">Start WEPPcloud Run</a>
            <a class="btn btn-primary" href="create/13" role="button">10m (Experimental)</a>
            <p>{{ runs_counter['0_projects'] }} projects and {{ commafy(runs_counter['0_hillruns']) }} hillslopes ran since January 1, 2022</p>
          </p>
        </div>
      </div>
      <div style="height: 2em;"></div>
      <div class="jumbotron row">
        <div class="col-lg-3">
            <img src="{{  url_for('static', filename='images/interfaces/baer.jpg') }}" height="200" width="200" style="width: 200px; height: 200px;" />
        </div>
        <div id="pep" class="col-lg-8">
          <h3>WEPPcloud-PEP w/ WATAR</h3>
          <p>The WEPPcloud Post-Fire Erosion Prediction (PEP) allows users to upload a burn severity map and predict erosion
             based on fire severity. 
             Legacy interface. From 2021 we recommend users to switch to WEPPcloud-US instead of WEPP-PEP. WEPP-PEP is 
             limited to four general soils based on textures. WEPPcloud-Disturbed incorporates spatial variability in soils 
             from SSURGO/STATSGO data bases. A full comparison between the two interfaces has not been made, however, 
             WEPPcloud-US for undisturbed conditions has been successfully validated in multiple watersheds in Western US.
             Soil textures are identified from SSURGO. Unburned conditions are assigned 2006.2
             forest soils and managements based on soil texture. Burned areas are assigned burned soils and managements
             based on soil texture.<br>
             The PeP interface incorporates the Wildfire Ash Transport And  Risk estimation tool (WATAR).<br>
              <a href="https://youtu.be/g8_ClR96tFU">View 15 May 2019 USDA Forest Service Webinar:
                  <i>An Introduction to WEPPcloud-PEP</i></a>
          </p>
          <p><b>This interface has been deprecated. For new projects run (Un)Disturbed without a burn severity map.</b></p>
          <p>
            <a class="btn btn-primary btn-lg" href="create/baer" role="button">Start WEPPcloud Run</a>
            <p>{{ runs_counter['baer_projects'] }} projects and {{ commafy(runs_counter['baer_hillruns']) }} hillslopes ({{ commafy(runs_counter['baer_ash_hillruns'])}} WATAR hillslopes) ran since January 1, 2022</p>
            <!--a class="btn btn-primary" href="create/baer-ssurgo" role="button">SURGO Modified Soils (Experimental)</a-->
            <p><a href="{{  url_for('static', filename='resources/baer/Rattlesnake.tif') }}">Download Example 4 Class SBS Map (Rattlesnake Fire)</a></p>
          </p>
        </div>
      </div>



      <div>
        <h3>WEPPcloud Utilities</h3>
          <a href="combined_ws_viewer/url_generator/">Combined Watershed Viewer URL Generator</a>
      </div>
      <div style="height: 1em;"></div>
      <div>
        <h3>WEPPcloud Test Watersheds</h3>
          <a href="joh/">Test Watersheds</a>
      </div>
      <div style="height: 1em;"></div>
      <div>
        <h3>Contact</h3>
          <p>For assistance or questions please contact Mariana Dobre at mdobre@uidaho.edu or
              Roger Lew at rogerlew@uidaho.edu</p>
      <div style="height: 1em;"></div>
        <h3>Documentation</h3>
          <p>WEPPcloud Documentation can be found at: <a href='https://doc.wepp.cloud'>https://doc.wepp.cloud</a></p>
      </div>
      <div style="height: 1em;"></div>
      <div>
        <h3>Acknowledgements, Sponsors, and Collaborators:</h3>
        <div style="text-align: center;">
            <a href="https://www.uidaho.edu/"><img src="{{  url_for('static', filename='images/ui-main-horizontal.jpg') }}" height="47" style="margin: 10px;"/></a>
            <a href="https://www.fs.fed.us/"><img src="{{  url_for('static', filename='images/usfslogo.png') }}" height="47" style="margin: 10px;"/></a>
            <a href="https://www.swansea.ac.uk/"><img src="{{  url_for('static', filename='images/Swansea_University_logo.png') }}" height="47" style="margin: 10px;"/></a>
        </div>
        <div style="text-align: center;">
            <a href="https://www.idahoecosystems.org/"><img src="{{  url_for('static', filename='images/miles_short_logo.png') }}" height="47" style="margin: 10px;"/></a>
            <a href="https://www.northwestknowledge.net/"><img src="{{  url_for('static', filename='images/ui-nkn-logo-hz.png') }}" height="47" style="margin: 10px;"/></a>
            <a href="https://www.usda.gov/"><img src="{{  url_for('static', filename='images/USDA_logo.png') }}" height="47" style="margin: 10px;"/></a>
            <img src="{{  url_for('static', filename='images/arsalone.gif') }}" height="47" style="margin: 10px;"/>
            <a href="https://www.ukri.org/"><img src="{{  url_for('static', filename='images/ukri-nerc-logo-600x160.png') }}" height="47" style="margin: 10px;"/></a>
        </div>

          </div>
      <div style="height: 2em;"></div>
      <div>This work was made possible by the NSF Idaho EPSCoR Program and by the National Science Foundation under award number IIA-1301792.</div>
      <div style="height: 0.5em;"></div>
      <div>This work is supported by AFRI program [grant no2016-67020-25320/project accession no. 1009827] from the USDA National Institute of Food and Agriculture.</div>
      <div style="height: 0.5em;"></div>
      <div>The Wildfire Ash Transport And Risk estimation tool (WATAR) was made possible 
           with collaboration from Swansea University (Jonay Neris, Stefan Doerr) and 
           the US Forest Service (Pete Robichaud, William Elliott), and funding provided 
           by UK NERC Grant NE/R011125/1 and European Commission (H2020 FirEUrisk project 
           no. 101003890)</div>
      <div style="height: 2em;"></div>
      <div>WEPPcloud is proudly hosted by the <a href="https://www.northwestknowledge.net/">Northwest Knowledge Network</a><div>
      <div style="height: 2em;"></div>
      <div>Powered by wepppy <a href="https://github.com/rogerlew/wepppy">https://github.com/rogerlew/wepppy</a></div>
      <div style="height: 2em;"></div>
      <div>
        <h3>Contributors:</h3>
        <div>Roger Lew, Mariana Dobre, William Elliot, Pete Robichaud, Erin Brooks, Anurag Srivastava, Jim Frakenberger, Jonay Neris, Stefan Doerr, Cristina Santin, Mary E. Miller
        </div>
      </div>
      <div style="height: 2em;"></div>
      <div>
        <h3>Attributions:</h3>
        <div>Map baselayers provided by Google (Terrain, Satellite) and USGS (NLCD).
        </div>
      </div>
      <div style="height: 2em;"></div>
      <div>
        <h3>Legal Disclaimer:</h3>
          <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
            INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
            DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
            SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
            SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
            WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
            THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
      </div>

    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
     integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116992009-1"></script>
{% include("_analytics.htm") %}
  </body>
</html>
