# {{ runid }}/README.md


| Resource | Summary |
| --- | --- |
| Run ID | `{{ runid }}` |
| Config | `{{ config }}` |
| Created: | {{ created_display }} |
| Name | `{{ ron_name_display }}` |
| Scenario | `{{ ron_scenario_display }}` |

## Project Notes
