# {runid}/README.md


| Resource | Summary |
| --- | --- |
| Run ID | `{runid}` |
| Config | `{config}` |
| Created: | {{ run_record.date_created or 'unknown' }} |
| Name | `{{ ron.name or 'Not set' }}` |
| Scenario | `{{ ron.scenario or 'Not set' }}` |

## Project Notes

