{% import "controls/_pure_macros.html" as ui %}

  <p class="wc-text-muted">
    Baseflow is not implemented for single-storm climates.
    <a href="https://github.com/rogerlew/wepppy/issues/312" target="_blank" rel="noopener noreferrer">Discussion</a>
  </p>
  {{ ui.numeric_field(
       "baseflow_opts_gwstorage",
       "Initial groundwater storage",
       value=wepp.baseflow_opts.gwstorage,
       unit_label="mm",
       unit_category="xs-distance",
       unit_name="mm",
       attrs={"class": "disable-readonly"}
     ) }}
  {{ ui.numeric_field(
       "baseflow_opts_bfcoeff",
       "Baseflow coefficient",
       value=wepp.baseflow_opts.bfcoeff,
       unit_label="per day",
       attrs={"class": "disable-readonly"}
     ) }}
  {{ ui.numeric_field(
       "baseflow_opts_dscoeff",
       "Deep seepage coefficient",
       value=wepp.baseflow_opts.dscoeff,
       unit_label="per day",
       attrs={"class": "disable-readonly"}
     ) }}
  {{ ui.numeric_field(
       "baseflow_opts_bfthreshold",
       "Watershed groundwater baseflow threshold area",
       value=wepp.baseflow_opts.bfthreshold,
       unit_label="ha",
       unit_category="area",
       unit_name="ha",
       attrs={"class": "disable-readonly"}
     ) }}
