{% import "controls/_pure_macros.html" as ui %}

<section class="wc-stack" id="wepp_revegetation_options">
  <h4 class="wc-heading wc-heading--sm">Revegetation Scenarios</h4>
  {{ ui.select_field(
       "reveg_scenario",
       "Cover transformation scenario",
       reveg_cover_transform_options,
       selected=reveg.cover_transform_fn if reveg.cover_transform_fn else ("user_cover_transform" if reveg.user_defined_cover_transform else ''),
       extra_control_class="disable-readonly",
       attrs={"data-wepp-role": "reveg-scenario"}
     ) }}
  <div id="user_defined_cover_transform_container" class="wc-stack"{% if not reveg.user_defined_cover_transform %} hidden{% endif %}>
    <div class="wc-field">
      <label class="wc-field__label" for="input_upload_cover_transform">Upload cover transform file (.csv)</label>
      <input id="input_upload_cover_transform"
             name="input_upload_cover_transform"
             type="file"
             class="wc-field__control file disable-readonly"
             data-wepp-action="upload-cover-transform">
    </div>
  </div>
</section>
