<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="icon" type="image/svg+xml" href="/static/favicon/open_folder.svg?v=20250908"/>
<title>{{ runid }} - {{ page_title|default('Not Found') }}</title>
<style>
  body {
    font-family: var(--wc-font-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif);
  }
  a { text-decoration: none; }
</style>
</head>
<body>
<div style="padding: 1em 0 0 2em;">
    <h3 style="color: #d9534f;">404 - Resource Not Found</h3>
    <p>The run '<b style="font-family: monospace;">{{ runid }}</b>' either doesn't exist or you don't have access to it.</p>
</div>
</body>
</html>
