<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
    <style>
        html, body, #map {
            height: 100%;
            margin: 0;
        }
        #uploadForm {
            padding: 20px;
            background-color: #f8f8f8;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<form id="uploadForm" enctype="multipart/form-data">
    <label for="input_upload_sbs">Upload SBS Map:</label>
    <input type="file" id="input_upload_sbs" name="input_upload_sbs">
    <input type="button" value="Upload" onclick="uploadFile()">
</form>
<div id="map"></div>

<script>

var map = L.map('map');

var googleTerrain = L.tileLayer("https://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}", {
    maxZoom: 20,
    subdomains: ["mt0", "mt1", "mt2", "mt3"]
});

var googleSat = L.tileLayer("https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}", {
    maxZoom: 20,
    subdomains: ["mt0", "mt1", "mt2", "mt3"]
});

var baseMaps = {
    "Satellite": googleSat,
    "Terrain": googleTerrain
};

var overlayMaps = {};

var geojsonLayer;

googleSat.addTo(map);
googleTerrain.addTo(map);

var ctrls = L.control.layers(baseMaps, overlayMaps);
ctrls.addTo(map);



function uploadFile() {
    let formData = new FormData();
    let fileField = document.querySelector("#input_upload_sbs");

    formData.append('input_upload_sbs', fileField.files[0]);

    fetch('/upload/huc-fire/tasks/upload_sbs/', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Extract runid from the returned JSON object
        let runid = data.runid;

        // Construct the URL for fetching the GeoJSON
        let geojsonUrl = `/weppcloud/runs/${runid}/cfg/resources/huc.json`;

        // Fetch the GeoJSON
        return fetch(geojsonUrl);
    })
    .then(response => response.json())
    .then(geojsonData => {
        let geojsonLayer = L.geoJSON(geojsonData, {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.name);
            }
        }).addTo(map);
        map.fitBounds(geojsonLayer.getBounds());
    })
    .catch(error => console.error('Error:', error));
}
</script>
</body>
</html>
