<ul class="navbar-nav navbar-right">
  <li class="nav-item active">
    <a class="nav-link" href="/weppcloud/runs">Runs</a>
  </li>
  {% if current_user.has_role('Admin')  %}
  <li class="nav-item active">
    <a class="nav-link" href="/weppcloud/allruns">All Runs</a>
  </li>
  {% endif %}
  <li class="nav-item active">
    <a class="nav-link" href="/weppcloud/profile">Profile</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/weppcloud/logout">Logout</a>
  </li>
  {% if current_user.has_role('Root') %}
  <li class="nav-item active">
    <a class="nav-link" href="/weppcloud/usermod">Usermod</a>
  </li>
  {% endif %}
  {% if current_user.has_role('Root') or
        current_user.has_role('Admin') or
        current_user.has_role('Dev') %}
  <li class="nav-item active">
    <a class="nav-link" href="/weppcloud/runid_query">Runid Query</a>
  </li>
  {% endif %}
</ul>
