<ul class="navbar-nav navbar-right">
  <li class="nav-item active">
    <a class="nav-link" href="{{ site_prefix }}/runs">Runs</a>
  </li>
  {% if current_user.has_role('Admin')  %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ site_prefix }}/allruns">All Runs</a>
  </li>
  {% endif %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ site_prefix }}/profile">Profile</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{ site_prefix }}/logout">Logout</a>
  </li>
  {% if current_user.has_role('Root') %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ site_prefix }}/usermod">Usermod</a>
  </li>
  {% endif %}
  {% if current_user.has_role('Root') or
        current_user.has_role('Admin') or
        current_user.has_role('Dev') %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ site_prefix }}/dev/runid_query">Runid Query</a>
  </li>
  {% endif %}
</ul>
