{% extends "security/_layout.html"%}
{% from "security/_macros.html" import render_field_with_errors, render_checkbox_with_errors, render_field %}
{% block title %}
Runs
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Location (What3Words)</th>
      <th>Link</th>
      <th>Creation Date</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for run in user.runs %}
        {% if run_exists(run.runid) %}
        <tr>
          <td>{{ get_run_name(run.runid) }}</td>
          <td>{{ w3w_center(run.runid) }}</td>
          <td>
              <a href="{{ site_prefix }}/runs/{{ run.runid }}/{{ run.config }}/">
              /runs/{{ run.runid }}/{{ run.config }}/
              </a>
          </td>
          <td>{{ run.date_created }}</td>
          <td>{{ get_last_modified(run.runid) }}</td>
        </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}