{% extends "security/_layout.html"%}
{% from "security/_macros.html" import render_field_with_errors, render_checkbox_with_errors, render_field %}
{% block title %}
Runs
{% endblock %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="  crossorigin="anonymous"></script>

<script>

$(document).ready(function(){
});

function delete_run(runid) {
  var res = confirm("Are you sure you want to delete '" + runid + "'?");
  if (res === true)
  {
      $.post({
          url: runid + "/0/tasks/delete/",
          success: function success(response) {
              console.log("run has been deleted");
              $("#" + runid).hide();
          },
          fail: function fail(error) {
              console.log(error);
          }
      });

  }
  console.log(res);
}
</script>

<table class="table">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Location (What3Words)</th>
      <th>Link</th>
      <th>Creation Date</th>
      <th>Last Modified</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for run in user_runs %}
        <tr id="{{ run.runid }}">
          <td style="width:250px;">{{ get_run_name(run.runid) }}</td>
          <td>{{ w3w_center(run.runid) }}</td>
          <td>
              <a href="{{ site_prefix }}/runs/{{ run.runid }}/{{ run.config }}/">
              /runs/{{ run.runid }}/{{ run.config }}/
              </a>
          </td>
          <td>{{ run.date_created }}</td>
          <td>{{ get_last_modified(run.runid) }}</td>
          <td>
              <button type="button" class="btn btn-danger"  onclick="delete_run('{{ run.runid }}')">Delete</button>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}